@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic");
html {
  scroll-behavior: smooth; }

#showScroll {
  margin-top: 80px;
  min-width: 300px;
  height: 50px;
  padding-top: 10px;
  border: 3px solid red;
  position: fixed;
  color: red;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  animation: test  2s infinite ease-in-out;
  background-color: #ccc; }

@keyframes test {
  0% {
    transform: scale(1);
    background-color: #DD2;
    border: 3px solid #4C3; }
  50% {
    transform: scale(1.3);
    background-color: #4C3;
    border: 3px solid #22D; }
  70% {
    transform: scale(1);
    background-color: #22D;
    border: 3px solid #D23; }
  100% {
    transform: scale(1);
    background-color: #DD2;
    border: 3px solid #4C3; } }
.main-header {
  position: relative;
  min-height: 100px;
  background: linear-gradient(39deg, #030A00, #112804);
  background-size: 100%;
  z-index: 2;
  padding-bottom: 124px;
  overflow: hidden; }
  .main-header .container {
    padding-top: 50px;
    padding-bottom: 50px; }

.about__link {
  border-bottom: 3px solid #D2A351 !important; }

.blog__link {
  border-bottom: 3px solid #D2A351 !important; }

.contact__link {
  border-bottom: 3px solid #D2A351 !important; }

.svg-arrow {
  fill: #fff; }
  .svg-arrow:hover .arrow-color {
    stroke: #D2A351 !important; }

.arrow-color {
  fill: #ccc !important;
  transition: stroke .2s;
  stroke: #727271 !important; }

.svg-soc {
  width: 25px;
  height: 25px;
  fill: #fff !important;
  cursor: pointer; }
  .svg-soc:hover .fill-header {
    fill: #D2A351 !important; }

.fill-header {
  transition: fill .2s;
  fill: #fff !important; }

.shadow-text {
  position: absolute;
  top: 20%;
  left: 20%;
  text-transform: uppercase;
  line-height: 1.7;
  font-size: 65px;
  opacity: 0.14;
  color: #D2A351;
  font-family: 'Roboto Slab', serif;
  font-weight: 700; }

.fil0 {
  fill: none !important; }

.fil1 {
  fill: #D2A351 !important; }

#port {
  background: transparent;
  margin: 1.5em 0px;
  overflow: hidden;
  position: relative;
  height: 600px; }

.scene-wrap {
  margin: 0 auto;
  margin-top: 32px;
  width: 38%;
  align-items: center; }

.parallax-layer-4 {
  top: 67% !important; }

.parallax-layer {
  position: absolute; }

.formA {
  border-radius: 10px !important;
  -webkit-box-shadow: 0px 0px 32px 0px #8f8d8f !important;
  -moz-box-shadow: 0px 0px 32px 0px #8f8d8f !important;
  box-shadow: 0px 0px 32px 0px #8f8d8f !important; }

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #D2A351;
  opacity: 0;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  opacity: 1;
  right: 0; }

.menu {
  position: absolute;
  top: 22px;
  z-index: 5;
  background-color: transparent;
  position: fixed;
  z-index: 1;
  right: 32%;
  transition: right .2s; }
  .menu_active {
    right: 29%; }
  .menu-link {
    display: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 2; }
    .menu-link-wrap {
      display: block;
      background-color: transparent;
      position: fixed;
      right: 100px;
      top: 20px;
      z-index: 2; }
    .menu-link span, .menu-link span:before, .menu-link span:after {
      position: absolute;
      display: block;
      height: 2.5px;
      width: 22px;
      left: 50%;
      margin-left: -10px;
      background-color: #D2A351;
      top: 50%;
      margin-top: -1px; }
    .menu-link span:before {
      transition: all .2s;
      height: 2.5px;
      content: '';
      margin-left: -11px;
      margin-top: -7px; }
    .menu-link span:after {
      transition: all .2s;
      height: 2.2px;
      width: 18px;
      content: '';
      margin-left: -7px;
      margin-top: 5px; }
    .menu-link_active span {
      background-color: transparent; }
      .menu-link_active span:before {
        margin-left: -10px;
        transform: rotate(135deg);
        margin-top: 0; }
      .menu-link_active span:after {
        width: 22px;
        margin-left: -9px;
        transform: rotate(-135deg);
        margin-top: 0; }
  .menu .main-ul {
    display: flex;
    list-style: none;
    padding: 0;
    text-align: center; }
    .menu .main-ul li {
      position: relative;
      margin-left: 40px;
      color: #fff; }
    .menu .main-ul a {
      align-items: center;
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      text-decoration: none;
      line-height: 2;
      font-weight: 100;
      transition: all .2s; }
      .menu .main-ul a img {
        width: 11px;
        margin-left: 5px;
        height: 6px; }
      .menu .main-ul a:hover {
        text-decoration: none; }

.link_main {
  align-items: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 10px; }

.all__menu {
  position: fixed;
  width: 100vw;
  height: 95px;
  background: linear-gradient(43deg, #030A00, #112804);
  opacity: 0.88;
  z-index: 8; }

.menu-link-wrap {
  display: flex;
  flex-direction: column;
  text-align: right; }

.menu-info {
  display: flex;
  flex-direction: column; }
  .menu-info a {
    margin-bottom: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; }

.sub_link:hover .sub__link:first-of-type {
  animation: menu1 0.3s ease-in-out forwards;
  animation-delay: 0.1s; }

.sub_link:hover .sub__link:nth-of-type(2) {
  animation: menu1 0.3s ease-in-out forwards;
  animation-delay: 0.2s; }

.sub_link:hover .sub__link:nth-of-type(3) {
  animation: menu1 0.3s ease-in-out forwards;
  animation-delay: 0.3s; }

.sub_link:hover .sub__link:nth-of-type(4) {
  animation: menu1 0.3s ease-in-out forwards;
  animation-delay: 0.4s; }

.sub_link:hover .sub__link:nth-of-type(5) {
  animation: menu1 0.3s ease-in-out forwards;
  animation-delay: 0.5s; }

.sub_link:hover .sub__link:nth-of-type(6) {
  animation: menu1 0.3s ease-in-out forwards;
  animation-delay: 0.6s; }

.sub_link:hover .sub__link:nth-of-type(7) {
  animation: menu1 0.3s ease-in-out forwards;
  animation-delay: 0.7s; }

.sub_link:hover .sub__link:nth-of-type(8) {
  animation: menu1 0.3s ease-in-out forwards;
  animation-delay: 0.8s; }

.sub_link:hover .sub__link:nth-of-type(9) {
  animation: menu1 0.3s ease-in-out forwards;
  animation-delay: 0.9s; }

@keyframes menu1 {
  from {
    opacity: 0;
    display: flex;
    transform: translateX(30px) rotateY(90deg); }
  to {
    opacity: 1;
    display: flex;
    transform: translateX(0) rotateY(0); } }
.sub-menu {
  position: absolute;
  z-index: -5;
  width: 226%;
  top: 0;
  left: -62px;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  padding: 0px;
  padding-top: 54px;
  visibility: hidden; }
  .sub-menu li {
    background: linear-gradient(43deg, #030A00, #112804);
    margin-left: 0 !important;
    padding: 10px;
    opacity: 0;
    transform-origin: top center; }
    .sub-menu li a {
      line-height: 1 !important;
      font-size: 12px !important;
      margin: 0 auto;
      transition: color .2s; }
      .sub-menu li a:hover {
        color: #D2A351; }

.sub_link:hover .sub-menu {
  visibility: visible; }

.menu-arrow {
  animation: eye 3s ease-in-out infinite; }

@keyframes eye {
  0% {
    transform: scaleY(0px); }
  95% {
    transform: scaleY(100px); } }
.sub__link-1 a {
  width: 78px !important; }

.info-icon-block {
  display: flex;
  margin-left: 60px;
  margin-top: 3px; }

.info-icon-block-container {
  position: absolute;
  display: none;
  flex-direction: column;
  margin-top: 100px; }
  .info-icon-block-container img {
    width: 11px;
    height: 11px;
    margin-top: 11px; }

.menu-info-new {
  display: none;
  flex-direction: column;
  text-align: right;
  padding-right: 46px;
  margin-top: 37px; }
  .menu-info-new a {
    margin-bottom: 6px;
    font-family: 'Montserrat', sans-serif;
    color: #D2A351; }
  .menu-info-new .work-time-head {
    margin-bottom: 6px;
    font-family: 'Montserrat', sans-serif;
    color: #D2A351; }

.info-icon-block-new {
  display: none;
  margin-top: 10px; }

.header-logo {
  margin-top: 16px;
  z-index: 3;
  margin-left: 20px; }
  .header-logo img {
    width: 13%; }

.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  border-radius: 40px;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 10px;
  right: 0;
  bottom: 0;
  border-radius: 40px;
  background: #D2A351;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
  border-radius: 40px; }

.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  border-radius: 40px;
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }

.btn-communicate {
  position: absolute;
  top: 40%;
  right: 110px;
  width: 200px;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #D2A351;
  border-radius: 40px;
  color: #fff;
  text-align: center;
  padding: 13px;
  padding-left: 35px;
  cursor: pointer; }

.comun-icon {
  position: absolute;
  top: -1px;
  left: -2px;
  width: 24%; }

.gold-name {
  color: #D2A351;
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.4; }

.white-text {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.4;
  font-size: 12pt; }

.sub-text {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  font-size: 12pt; }

.slider-header-wrap {
  position: absolute;
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin: 0 auto;
  bottom: 10px; }
  .slider-header-wrap .slide-prof {
    position: relative;
    z-index: 2; }
  .slider-header-wrap .hvr-bounce-to-right:before {
    left: 0; }

.slide-qwerty-left {
  z-index: -1;
  position: absolute;
  top: 10px;
  left: 0;
  width: 158px;
  height: 80px;
  background-color: #2B2812; }

.slide-qwerty-right {
  z-index: -1;
  position: absolute;
  top: 10px;
  right: 0;
  width: 158px;
  height: 80px;
  background-color: #2B2812; }

.my-1 {
  height: 25px;
  cursor: pointer; }

.my-2 {
  height: 25px;
  cursor: pointer; }

.arrow-wrap {
  position: absolute;
  display: flex;
  width: 150px;
  justify-content: space-between;
  bottom: 10%;
  right: 23%; }

.slide-prof {
  outline: none; }

.slide-left {
  padding-left: 20px;
  width: 25% !important; }
  .slide-left .btn-read {
    position: absolute;
    bottom: 0;
    left: -83px;
    margin-left: 90px; }
  .slide-left .slide-prof {
    padding-top: 34px;
    padding-left: 22px;
    min-height: 260px; }

.slide-right {
  padding-right: 20px;
  text-align: right;
  width: 25% !important; }
  .slide-right .btn-read {
    position: absolute;
    bottom: 0;
    right: 10px;
    margin-left: 90px; }
  .slide-right .slide-prof {
    padding-top: 34px;
    padding-right: 22px;
    min-height: 260px; }

.hvr-fade {
  transition: background-color .2s; }
  .hvr-fade:hover {
    background-color: #D2A351; }

.btn-read {
  margin-top: 50px;
  width: 150px;
  padding: 10px;
  border: 2px solid #D2A351;
  border-radius: 40px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: background-color .2s; }

.elips {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #434242;
  margin-top: 10px;
  transition: background-color .2s, transform .2s; }
  .elips:hover {
    background-color: #D2A351;
    transform: scale(1.5); }

.elips_active {
  background-color: #D2A351;
  transform: scale(1.5); }

.link__index {
  position: absolute;
  left: 30px;
  top: 300px;
  z-index: 0; }

.parallax-logo {
  width: 98%;
  left: 7px !important;
  top: 22px !important; }

@media (max-width: 4000px) {
  .formA {
    min-width: 30% !important; } }
@media (max-width: 2220px) {
  .formA {
    min-width: 60% !important; } }
@media (max-width: 1800px) {
  .main-header .container {
    padding-bottom: 46px; } }
@media (max-width: 1582px) {
  .main-header {
    position: relative;
    padding-bottom: 95px; } }
@media (max-width: 1266px) {
  .menu {
    right: 26%; } }
@media (max-width: 1208px) {
  .header-logo {
    margin-top: 23px; }
    .header-logo img {
      width: 20%; } }
@media (max-width: 1168px) {
  .slider-header-wrap {
    margin-top: 78%;
    margin-bottom: 20px; }

  .menu {
    right: 34%; }

  .menu ul li {
    margin-left: 15px; }

  .menu ul a {
    font-size: 12px; }

  .menu-info {
    font-size: 11px; } }
@media (max-width: 1045px) {
  .shadow-text {
    font-size: 45px; } }
@media (max-width: 1062px) {
  .menu {
    right: 25%; } }
@media (max-width: 1350px) {
  .main-header {
    padding-bottom: 300px; } }
@media (max-width: 723px) {
  .header-logo {
    margin-top: 23px; }
    .header-logo img {
      width: 16%; } }
@media (max-width: 719px) {
  .shadow-text {
    left: 12%;
    font-size: 33px; } }
@media (max-width: 630px) {
  .header-logo {
    margin-top: 17px !important; }
    .header-logo img {
      width: 38%; } }
@media (max-width: 950px) {
  .btn-communicate {
    position: absolute;
    top: 40%;
    right: 10px; } }
@media (max-width: 1350px) {
  .slide-left {
    width: 36% !important; }

  .slide-right {
    width: 36% !important; }

  .arrow-wrap {
    right: 45%; } }
@media (max-width: 933px) {
  .arrow-wrap {
    right: 38%; } }
@media (max-width: 785px) {
  .m-header-img {
    animation: slide-1 5.5s infinite linear; }

  @keyframes slide-1 {
    0% {
      transform: rotate(0deg) translate(-4px) rotate(0deg);
      -webkit-transform: rotate(0deg) translate(-4px) rotate(0deg); }
    100% {
      transform: rotate(360deg) translate(-4px) rotate(-360deg);
      -webkit-transform: rotate(360deg) translate(-4px) rotate(-360deg); } } }
@media (max-width: 753px) {
  .btn-communicate {
    position: absolute;
    width: 128px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #D2A351;
    border-radius: 40px;
    font-size: 11px;
    color: #fff;
    text-align: center;
    padding: 7px;
    padding-left: 35px;
    cursor: pointer; } }
@media (max-width: 780px) {
  .header-logo {
    margin-top: 30px; }

  .all__menu {
    height: 93px; }

  .menu {
    top: 17px; } }
@media (max-width: 802px) {
  .btn-communicate {
    top: 15%;
    right: 4%; }

  .main-header {
    padding-bottom: 111px; }

  .main-header .container {
    padding-bottom: 0; }

  .scene-wrap {
    width: 67%;
    margin-top: 140px; }

  .slide-left {
    width: 50% !important; }

  .slide-prof {
    position: relative;
    min-height: 230px !important; }

  .gold-name {
    font-size: 10pt; }

  .white-text {
    font-size: 9pt; }

  .sub-text {
    font-size: 9pt; }

  .main-header .slider-header-wrap {
    display: none;
    margin-top: 111% !important; }

  .slider-header-wrap {
    bottom: 10px; }
    .slider-header-wrap .btn-read {
      margin-top: 14px;
      width: 82px;
      padding: 5px;
      border: 2px solid #D2A351;
      border-radius: 40px;
      color: #fff;
      text-align: center;
      font-size: 12px;
      cursor: pointer; } }
.formA {
  min-width: 60%;
  min-height: 500px;
  -webkit-box-shadow: 0px 0px 32px 0px #ababab;
  -moz-box-shadow: 0px 0px 32px 0px #ababab;
  box-shadow: 0px 0px 32px 0px #ababab;
  border-radius: 28px; }

.green-logo {
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 57%; }

.input-wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  margin-top: 20px;
  /* Firefox 19+ */
  /* Firefox 18- */ }
  .input-wrap input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #D2A351;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #D2A351; }
  .input-wrap .form_icon {
    width: 100%;
    height: auto; }
  .input-wrap .wrap-mail {
    margin-right: 10px;
    width: 28px;
    height: 28px; }
  .input-wrap .wrap-mail-3 {
    width: 32px;
    height: 25px; }
  .input-wrap ::-webkit-input-placeholder {
    color: #D2A351; }
  .input-wrap ::-moz-placeholder {
    color: #D2A351; }
  .input-wrap :-moz-placeholder {
    color: #D2A351; }
  .input-wrap :-ms-input-placeholder {
    color: #D2A351; }

.modal-block .btn-read {
  display: block;
  color: #D2A351;
  margin: 0 auto;
  margin-top: 20px;
  background-color: transparent;
  transition: color .2s, background-color .2s; }
  .modal-block .btn-read:hover {
    background-color: #D2A351 !important;
    color: #fff !important; }

.fix-client {
  width: 28%; }

#phone {
  color: #D2A351;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; }

@media (max-width: 1068px) {
  .formA {
    min-width: 80%;
    min-height: 420px; }

  .fancybox-content {
    padding: 10px !important; } }
@media (max-width: 1001px) {
  .white-text {
    font-size: 9pt; }

  .sub-text {
    font-size: 8pt; } }
@media (max-width: 800px) {
  .formA {
    min-width: 95%; } }
@media (max-width: 665px) {
  .white-text {
    line-height: 1; }

  .sub-text {
    line-height: 1;
    margin-top: 8px; }

  .slide-qwerty-right {
    display: none; }

  .slide-qwerty-left {
    display: none; }

  .slide-left .slide-prof {
    padding-top: 0 !important;
    padding-left: 0 !important; }

  .slide-right .slide-prof {
    padding-top: 0 !important;
    padding-right: 0 !important; }

  .slide-prof {
    min-height: 180px !important; } }
@media (max-width: 650px) {
  .input-wrap input {
    height: 32px; }

  .input-wrap .form_icon {
    margin-top: 2px; } }
@media (max-width: 520px) {
  .shadow-text {
    font-size: 25px; } }
@media (max-width: 529px) {
  .formA {
    min-height: 370px; } }
@media (max-width: 406px) {
  .header-logo img {
    width: 50%; }

  .slide-left {
    width: 75% !important; } }
@media (max-width: 354px) {
  .svg-head-logo svg {
    width: 154px; } }
@media (max-width: 345px) {
  .header-logo {
    margin-top: 13px !important; } }
@media (max-width: 599px) {
  .link__index {
    left: 5px; }

  .main-header .slider-header-wrap {
    margin-top: 148%; }

  .slide-right {
    display: none !important; }

  .arrow-wrap {
    right: 0%;
    bottom: 108%; } }
@media (max-width: 941px) {
  .menu .main-ul li {
    margin: 0 auto; }

  .menu-arrow {
    display: none; }

  .sub-menu {
    display: none; }

  .menu-info-new {
    display: flex;
    width: 93%; }
    .menu-info-new a {
      font-size: 15px !important;
      color: #D2A351 !important; }

  .info-icon-block-new {
    display: none; }

  .info-icon-block {
    display: none; }

  .menu-info {
    display: none; }

  .menu-link {
    display: block; }

  .menu {
    right: -100vw; }

  .menu_active {
    width: 100vw;
    height: 10000px;
    background-color: rgba(0, 0, 0, 1.0);
    right: 0px;
    top: 0px; }

  .menu ul {
    flex-direction: column;
    margin-top: 95px; }
    .menu ul li {
      padding: 20px 0;
      text-align: right;
      color: white;
      border-bottom: 2px solid #c7c3c3;
      width: 76%;
      margin: 0 auto; } }
@media (max-width: 400px) {
  .fancybox-content {
    max-width: 85% !important; }

  .input-wrap input {
    font-size: 8px; }

  .input-wrap input {
    height: 20px; }

  .input-wrap input {
    border-bottom: 1.2px solid #D2A351; }

  .wrap-mail {
    margin-right: 10px;
    width: 20px !important;
    height: 20px !important; }

  .wrap-mail-3 {
    width: 26px !important;
    height: 19px !important; }

  .modal-block .btn-read {
    width: 120px;
    font-size: 12px;
    padding: 6px; }

  .formA {
    min-height: 256px; } }
@media (max-width: 665px) {
  .main-header {
    padding-bottom: 0;
    min-height: 650px; }

  .scene-wrap {
    position: absolute;
    bottom: 110px;
    left: 15%; } }
@media (max-width: 600px) {
  .input-wrap input {
    font-size: 10px; } }
@media (max-width: 567px) {
  .scene-wrap {
    width: 75%; } }
@media (max-width: 522px) {
  .scene-wrap {
    position: absolute;
    bottom: 100px; } }
@media (max-width: 493px) {
  .scene-wrap {
    margin: 0 auto;
    width: 85%;
    left: 8%; }

  .main-header .container {
    padding-top: 88px; }

  .main-header {
    min-height: 641px;
    background-size: 112%; } }
@media (max-width: 476px) {
  .menu-info-new {
    display: flex;
    width: 98%; }

  .main-header {
    background-size: 148%; } }
@media (max-width: 417px) {
  .scene-wrap {
    width: 93%;
    left: 3%; } }
@media (max-width: 376px) {
  .menu-info-new {
    width: 100%; } }
@media (max-width: 365px) {
  .main-header {
    min-height: 600px; }

  .scene-wrap {
    bottom: 88px;
    width: 97%; }

  .btn-communicate {
    top: 18%;
    right: 4%; } }
.about_us {
  position: relative; }
  .about_us .btn-read {
    color: #D2A351;
    transition: color .2s, background-color .2s;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 82px; }
    .about_us .btn-read:hover {
      color: #fff; }
  .about_us .main__title:before {
    display: block;
    content: "";
    height: -50px;
    margin: 50px 0 0; }

.main__title {
  min-width: 100px;
  text-transform: uppercase;
  color: #D2A351;
  text-align: center;
  line-height: 1;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 26pt;
  margin: 0 auto;
  margin-top: 80px; }

.punct-text {
  max-width: 549px;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  font-size: 14px; }

.about-profile {
  max-width: 100%;
  margin-top: 60px;
  display: flex; }
  .about-profile img {
    margin-right: 50px;
    height: 74px; }

.about-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.about-left {
  width: 46%; }
  .about-left img {
    min-height: 178px; }

.about-right {
  width: 54%;
  min-height: 552px; }

.btn-wrap {
  width: 100%;
  text-align: center; }

@media (max-width: 769px) {
  .about-block {
    flex-direction: column-reverse;
    align-items: center; }

  .about-left {
    width: 74%; }

  .about-right {
    width: 95%; } }
@media (max-width: 476px) {
  .about-profile img {
    margin-right: 8px; }

  .punct-text {
    font-size: 10px; } }
.work {
  position: relative;
  background-color: #F5F5F5;
  overflow: hidden; }
  .work .main__title:before {
    display: block;
    content: "";
    height: 165px;
    margin: -165px 0 0; }

.line {
  position: absolute;
  bottom: 0;
  right: -17px;
  height: 1px;
  width: 80px;
  border-bottom: 1.4px solid #D2A351; }

.green-name {
  position: relative;
  color: #054C23;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  line-height: 1;
  font-size: 20px;
  padding-bottom: 17px;
  margin-bottom: 10px; }

.sub-work {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 10px;
  color: #727271;
  line-height: 1.5;
  font-size: 15px; }

.work-text {
  position: absolute;
  top: 0;
  right: 120px;
  text-align: right; }

.work-profile {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: calc(50% + 52px);
  margin-top: 50px; }
  .work-profile img {
    margin: 0 10px;
    width: 85px;
    height: 85px; }

.work-block {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px; }

.work-prof-right {
  flex-direction: row-reverse; }
  .work-prof-right .line {
    position: absolute;
    bottom: 0;
    left: -14px;
    height: 1px; }
  .work-prof-right .work-text {
    text-align: left;
    left: 115px; }

.work-wrap-right {
  width: 100%;
  display: flex;
  justify-content: space-between; }

@media (max-width: 1048px) {
  .sub-work {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 10px;
    color: #727271;
    line-height: 1.2;
    font-size: 10px; }

  .green-name {
    font-size: 14px; }

  .work-prof-right .work-text {
    text-align: left;
    left: 115px;
    width: 78%;
    padding-right: 5px; } }
@media (max-width: 613px) {
  .work-profile {
    width: calc(88% + 55px); } }
@media (max-width: 442px) {
  .sub-work {
    max-width: 258px; }

  .work-text {
    position: absolute;
    top: 0;
    right: 103px;
    text-align: right; }

  .work-profile img {
    margin: 0 10px;
    width: 75px;
    height: 75px; }

  .work-prof-right .work-text {
    text-align: left;
    left: 99px;
    width: 58%; }

  .sub-work {
    max-width: 250px; }

  .work-profile {
    margin-top: 65px; }

  .work-profile-fix {
    margin-top: 125px; } }
.client {
  position: relative;
  padding-bottom: 50px; }
  .client .main__title:before {
    display: block;
    content: "";
    height: 155px;
    margin: -155px 0 0; }

.client-profile {
  width: 100%;
  display: flex;
  align-items: center; }
  .client-profile img {
    -webkit-box-shadow: 0px 0px 34px -12px #b0adb0;
    -moz-box-shadow: 0px 0px 34px -12px #b0adb0;
    box-shadow: 0px 0px 34px -12px #b0adb0;
    max-width: 172px;
    display: block;
    height: auto;
    margin: 22px; }

.client-profile-right {
  flex-direction: row-reverse;
  text-align: right; }
  .client-profile-right img {
    width: 30%;
    margin-left: 15px; }
  .client-profile-right .line-client {
    position: absolute;
    bottom: 0;
    right: -17px;
    height: 1px;
    width: 80px;
    border-bottom: 1.4px solid #D2A351; }

.client-profile-left img {
  width: 30%;
  margin-right: 15px; }
.client-profile-left .line-client {
  position: absolute;
  bottom: 0;
  left: -17px;
  height: 1px;
  width: 80px;
  border-bottom: 2px solid #D2A351; }

@media (max-width: 678px) {
  .client-profile {
    margin-top: 40px; } }
.team {
  position: relative;
  padding-bottom: 20px;
  background: linear-gradient(39deg, #030A00, #112804); }
  .team .slider-header-wrap {
    position: relative;
    margin-top: 100px; }
  .team .btn-gold {
    margin-bottom: 68px; }

.team-name-prof {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1;
  font-size: 17px;
  max-width: 150px;
  margin-left: 60px;
  text-align: center;
  cursor: pointer;
  transition: font-family 3.4s, color .2s; }
  .team-name-prof:hover {
    color: #D2A351; }

.team-name-block {
  width: 90%;
  display: flex;
  margin: 0 auto;
  margin-top: -80px; }

.team-wrap {
  width: 70%;
  margin: 0 auto; }
  .team-wrap img {
    min-height: 500px; }

.btn-gold {
  background-color: #D2A351;
  color: #2B2A29 !important;
  margin: 0 auto;
  transition: color .2s, background-color .2s; }
  .btn-gold:hover {
    background-color: transparent;
    color: #fff !important; }

@media (max-width: 1744px) {
  .team-name-prof {
    margin-left: 45px; } }
@media (max-width: 1623px) {
  .team-name-prof {
    margin-left: 37px; } }
@media (max-width: 1532px) {
  .team-name-prof {
    margin-left: 29px; }

  .team-wrap img {
    min-height: 400px; } }
@media (max-width: 1379px) {
  .team-name-prof {
    font-size: 14px;
    margin-left: 33px; } }
@media (max-width: 1227px) {
  .team-wrap img {
    min-height: 305px; } }
@media (max-width: 1297px) {
  .team-name-prof {
    font-size: 15px;
    margin-left: 18px;
    margin-top: 30px; } }
@media (max-width: 1193px) {
  margin-left: 10px;
  font-size: 13px; }
@media (max-width: 1113px) {
  .team-name-prof {
    margin-top: 45px; } }
@media (max-width: 974px) {
  .team-wrap img {
    min-height: 250px; } }
@media (max-width: 1200px) {
  .team-name-prof {
    margin-left: 36px;
    font-size: 16px; }

  .team-wrap {
    width: 90%; } }
@media (max-width: 1100px) {
  .team-name-prof {
    margin-left: 30px;
    font-size: 16px; } }
@media (max-width: 1041px) {
  .team-name-prof {
    margin-left: 20px; } }
@media (max-width: 957px) {
  .team-name-prof {
    font-size: 11px;
    margin-left: 35px; } }
@media (max-width: 856px) {
  .team-name-block {
    width: 100%; }

  .team-name-prof {
    margin-left: 8px;
    font-size: 16px; } }
@media (max-width: 759px) {
  .team-name-prof {
    margin-left: 14px;
    font-size: 13px; } }
@media (max-width: 676px) {
  .team-name-prof {
    font-size: 11px; } }
@media (max-width: 591px) {
  .team-name-prof {
    margin-left: 8px;
    font-size: 11px; } }
@media (max-width: 548px) {
  .team-name-prof {
    margin-left: 4px;
    font-size: 10px; } }
@media (max-width: 471px) {
  .team-name-prof {
    margin-left: 7px;
    font-size: 9px; }

  .team-wrap {
    width: 100%; } }
@media (max-width: 410px) {
  .team-name-prof {
    margin-left: 7px;
    font-size: 8px; } }
@media (max-width: 526px) {
  .team .btn-gold {
    margin-top: 30px; } }
@media (max-width: 513px) {
  .team-wrap img {
    min-height: 175px; } }
@media (max-width: 370px) {
  .team-name-prof {
    margin-left: 7px;
    font-size: 7px; } }
@media (max-width: 325px) {
  .team-name-prof {
    margin-left: 5px; } }
@media (max-width: 362px) {
  .team-name-block {
    display: flex; } }
.practise {
  position: relative; }
  .practise .main__title:before {
    display: block;
    content: "";
    height: 170px;
    margin: -170px 0 0; }

.svg-pract {
  fill: #D2A351;
  width: 150px;
  height: 150px;
  margin: 0 auto; }

.pract-prof {
  overflow: hidden;
  max-width: 370px;
  height: 485px;
  min-height: 463px;
  width: 34%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 34px -5px #c4bec4;
  -moz-box-shadow: 0px 0px 34px -5px #c4bec4;
  box-shadow: 0px 0px 34px -5px #c4bec4;
  text-align: center;
  padding: 55px;
  margin-top: 40px;
  margin-left: 30px; }
  .pract-prof .btn-read {
    color: #D2A351;
    margin: 0 auto;
    margin-top: 20px; }
  .pract-prof:hover .pract-icon {
    transform: scale(2); }
  .pract-prof:hover .btn-read {
    background-color: #D2A351;
    color: #fff; }
  .pract-prof:hover .sub-practise {
    opacity: 0; }
  .pract-prof:hover .circle-delete {
    opacity: 0;
    stroke-width: 2px !important; }

.pract-fix:hover .pract-icon {
  transform: scale(1.2); }
.pract-fix:hover .pract-icon-1 {
  transform: translateY(-14px); }
.pract-fix:hover .btn-read {
  background-color: #D2A351;
  color: #fff; }

.pract-icon {
  margin-top: 15px;
  transition: transform .2s; }

.circle-delete {
  transition: opacity .4s; }

.pract-icon-1 {
  transition: transform .2s;
  min-height: 138px; }

.green-practise {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #054C23;
  line-height: 1.3;
  margin-bottom: 15px;
  margin-top: 60px;
  margin-top: 29px; }

.sub-practise {
  font-family: 'Montserrat', sans-serif;
  color: #727271;
  line-height: 1.5;
  transition: opacity .2s; }

.simple-text {
  font-family: 'Montserrat', sans-serif;
  color: #727271;
  line-height: 1.3; }

.gold-practise {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  color: #D2A351; }

.practise-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1599px;
  margin-top: 80px;
  margin-bottom: 80px; }

.pract-prof-center {
  margin-top: 110px; }

.main__title-fix {
  margin-top: 116px !important; }

.pract-fix {
  padding: 15px !important;
  text-align: left !important; }
  .pract-fix .green-practise {
    margin-top: 0; }
  .pract-fix img {
    margin-top: 20px; }

@media (max-width: 1413px) {
  .pract-prof {
    max-width: 329px; } }
@media (max-width: 1268px) {
  .pract-prof-center {
    margin-top: 40px; }

  .pract-prof {
    max-width: 380px;
    width: 50%; } }
@media (max-width: 723px) {
  .pract-prof {
    padding: 19px;
    height: 451px;
    min-height: 440px; } }
@media (max-width: 661px) {
  .practise-block {
    margin-top: 10px; } }
@media (max-width: 618px) {
  .pract-prof {
    width: 60%; } }
@media (max-width: 479px) {
  .pract-prof {
    width: 80%; } }
@media (max-width: 371px) {
  .pract-fix {
    min-height: 445px !important; }

  .pract-prof {
    width: 89%;
    margin-left: 0;
    height: 403px;
    min-height: 405px; }

  .pract-prof .btn-read {
    margin-top: 8px; }

  .green-practise {
    margin-top: 0px; } }
.map {
  background-color: #F5F5F5; }

.tab_1 {
  display: none;
  transition: visibility 0.5s linear 0.5s,opacity 0.5s linear; }

.tab_2 {
  display: block;
  transition-delay: 0.5s; }

.city-name {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #727271;
  margin-right: 50px;
  line-height: 1.4;
  cursor: pointer;
  padding-bottom: 14px;
  transition: all .2s; }

.tab-content {
  position: relative;
  min-height: 500px; }

.city-name_active {
  color: #D2A351 !important;
  transition: all .2s; }

.map-info-block {
  visibility: hidden;
  transition: all .2s;
  position: absolute;
  height: 452px;
  display: block;
  left: -530px;
  opacity: 0; }

.map-info-block_active {
  visibility: visible;
  opacity: 1;
  left: 0px; }

.map-footer {
  visibility: hidden;
  transition: all .2s;
  position: absolute;
  display: block;
  right: -530px;
  opacity: 0; }

.map-footer_active {
  visibility: visible;
  opacity: 1;
  right: 0px; }

.city-swap {
  display: flex;
  border-bottom: 2px solid #D2A351;
  max-width: 540px; }

.mail-block {
  display: flex;
  margin-top: 20px;
  align-items: center; }
  .mail-block img {
    margin-right: 20px; }
  .mail-block a {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: #6C6C6C;
    font-stretch: 18px; }

.green-text {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #054C23;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px; }

.soc-img {
  display: flex;
  margin-bottom: 30px; }
  .soc-img img {
    margin-left: 8px; }

.soc-footer {
  cursor: pointer;
  width: 30px;
  height: 30px; }
  .soc-footer:hover .footer-soc-fill {
    fill: #D2A351; }

.footer-soc-fill {
  transition: fill .2s;
  fill: #727271; }

.marib {
  color: #6C6C6C;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  max-width: 450px; }

.work-time {
  margin-top: 20px; }

.logo-map {
  margin-bottom: 30px; }

.map-wrap {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  overflow: hidden; }

.map-right {
  width: 50%;
  position: relative;
  border: 20px solid white;
  -webkit-box-shadow: 0px 0px 25px -2px #cccacc;
  -moz-box-shadow: 0px 0px 25px -2px #cccacc;
  box-shadow: 0px 0px 25px -2px #cccacc; }

.map-text {
  width: 50%; }

@media (max-width: 1246px) {
  .map-right {
    width: 45%;
    height: 450px; }

  .map-text {
    width: 53%; }

  .city-name {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #727271;
    margin-right: 20px;
    line-height: 1.4;
    font-size: 12px; } }
@media (max-width: 1152px) {
  .map-right {
    width: 42%;
    height: 336px;
    margin-top: 153px; } }
@media (max-width: 916px) {
  .map-wrap {
    flex-direction: column;
    align-items: center; }

  .map-text {
    width: 90%; }

  .city-swap {
    max-width: 630px; }

  .city-name {
    font-size: 14px; }

  .map-right {
    width: 100%;
    height: 423px;
    margin-top: 40px; }

  .map-wrap {
    margin-bottom: 50px; } }
.footer {
  background: linear-gradient(39deg, #030A00, #112804); }
  .footer .fil0 {
    fill: #fff; }
  .footer .fil1 {
    fill: #fff !important; }

.footer-left {
  font-family: 'Montserrat', sans-serif;
  color: #EBECEC;
  font-size: 18px;
  line-height: 1;
  padding-top: 17px; }

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0; }

.footer-prof {
  list-style: none;
  color: #EBECEC;
  display: flex; }
  .footer-prof li {
    margin-right: 20px;
    padding-bottom: 5px; }

.foter-multi {
  width: 65%;
  display: flex;
  justify-content: space-between; }

.filfix {
  fill: #fff !important; }

@media (max-width: 1467px) {
  .foter-multi {
    width: 80%; } }
@media (max-width: 1171px) {
  .foter-multi {
    width: 90%; } }
@media (max-width: 1117px) {
  .foter-multi {
    width: 90%; } }
@media (max-width: 1020px) {
  .footer-prof {
    font-size: 13px; }

  .footer-prof li {
    margin-right: 9px; }

  .footer-left {
    font-size: 14px; }

  .footer-right {
    width: 70%; }

  .footer-block {
    padding: 11px 0; }

  .foter-multi {
    width: 100%;
    align-items: left;
    flex-direction: column-reverse; }

  .footer-right {
    width: 15%; } }
@media (max-width: 464px) {
  .footer-block {
    flex-direction: column;
    text-align: center; }

  .footer-right {
    margin-top: 15px; }

  .footer-left {
    padding-top: 5px; } }
@media (max-width: 404px) {
  .footer-prof {
    display: none; }

  .footer-center {
    width: 100%;
    margin: 0 auto; } }
.about-header .btn-read {
  color: #D2A351 !important;
  margin: 0 auto;
  margin-top: 40px;
  transition: color .2s, background .2s; }
  .about-header .btn-read:hover {
    color: #fff !important; }

.svg-about-page {
  margin-right: 20px; }

.about__title-wrap {
  position: relative; }

.about-line {
  position: absolute;
  top: 40px;
  left: -14px;
  height: 1px;
  width: 80px;
  border-bottom: 2px solid #D2A351; }

.green__title {
  font-weight: 700;
  text-transform: uppercase;
  color: #054C23;
  font-size: 35px;
  line-height: 1;
  margin-bottom: 20px; }

.about-page-top-block {
  padding-top: 200px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #D2A351;
  padding-bottom: 30px; }
  .about-page-top-block img {
    margin-right: 30px; }

.about__subtitles {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #727271; }

.about-main__text {
  border-bottom: 2px solid #D2A351;
  padding-bottom: 15px; }

.img-prof {
  width: 60%;
  min-height: 234px; }

.green__name {
  position: relative;
  color: #054C23;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  line-height: 1;
  font-size: 28px;
  margin-top: 15px;
  min-height: 60px;
  margin-bottom: 10px; }

.gold-text {
  color: #D2A351;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  align-items: center;
  min-height: 124px;
  line-height: 1;
  font-size: 19px;
  padding-bottom: 10px;
  border-bottom: 2.4px solid #676766;
  max-width: 100%;
  margin-bottom: 17px; }

.about-prof {
  min-width: 300px;
  width: 31%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 15px; }

.geo-text {
  font-family: 'Montserrat', sans-serif;
  color: #6C6C6C;
  line-height: 1;
  font-size: 18px; }

.bold-block {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #6C6C6C;
  line-height: 1;
  font-size: 18px; }

.geo-block {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .geo-block img {
    margin-right: 12px; }

.about-prof-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

@media (max-width: 669px) {
  .about__subtitles {
    font-size: 13px; } }
@media (max-width: 525px) {
  .img-prof {
    width: 100%;
    min-height: 253px; } }
@media (max-width: 518px) {
  .green__title {
    font-size: 29px; } }
@media (max-width: 432px) {
  .about-line {
    display: none; }

  .about-prof {
    margin-right: 0; }

  .green__title {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #054C23;
    font-size: 26px;
    line-height: 1;
    margin-bottom: 12px; }

  .about-line {
    position: absolute;
    top: 28px; }

  .about-page-top-block {
    padding-top: 142px; }

  .about-page-top-block img {
    margin-right: 30px;
    width: 25%; } }
.profile-header .btn-communicate {
  top: 104%;
  right: 42%;
  color: #D2A351;
  transition: color .2s; }
  .profile-header .btn-communicate:hover {
    color: #fff; }
.profile-header .new-wrap-text {
  width: 70%; }
.profile-header .gold-text {
  max-width: 42%; }
.profile-header .punct-text {
  max-width: 98%; }
.profile-header .btn-read {
  color: #D2A351 !important;
  margin: 0 auto;
  margin-top: 40px; }
.profile-header .about-main__text {
  padding-top: 150px; }
  .profile-header .about-main__text p {
    max-width: 880px; }
.profile-header .about-prof-wrap {
  flex-direction: column; }
.profile-header .about-prof {
  position: relative;
  display: flex;
  width: 97%;
  margin-bottom: 120px; }
.profile-header .img-prof {
  width: 100%; }
.profile-header .geo-block {
  max-width: 363px; }

.img-prof-block {
  width: 30%;
  margin-right: 30px; }

@media (max-width: 1111px) {
  .punct-text {
    font-size: 10px; }

  .geo-text {
    font-size: 13px; }

  .bold-block {
    font-size: 13px; }

  .soc-img {
    display: flex;
    margin-bottom: 16px; }

  .soc-img img {
    margin-left: 8px; }

  .gold-text {
    color: #D2A351;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1;
    font-size: 13px; }

  .about-prof .green__name {
    min-height: 42px; }

  .green__name {
    position: relative;
    color: #054C23;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    line-height: 1;
    font-size: 21px; } }
@media (max-width: 700px) {
  .profile-header .about-prof {
    width: 100%;
    flex-direction: column; }

  .img-prof-block {
    width: 60%; }

  .profile-header .new-wrap-text {
    width: 100%; } }
@media (max-width: 410px) {
  .profile-header .about-main__text {
    padding-top: 93px; } }
.practise-header {
  margin-bottom: 80px; }
  .practise-header .about__subtitles {
    line-height: 1.3; }

.add__title {
  margin-top: 100px; }

.btn-wrap-fix {
  width: 210px;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px; }

.btn-new-page {
  width: 200px;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #D2A351;
  border-radius: 40px;
  color: #D2A351 !important;
  text-align: center;
  padding: 13px;
  padding-left: 35px;
  cursor: pointer; }
  .btn-new-page:hover {
    color: #fff !important; }

.gold-pract {
  color: #D2A351;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 30px; }

.green-pract__title {
  color: #054C23;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase; }

.small-green {
  color: #054C23;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-top: 50px;
  line-height: 1.4; }

.pract__title {
  display: flex;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 5px; }
  .pract__title img {
    margin-right: 15px; }

.bottom-wrap {
  padding-left: 200px; }

.sub-title-pract {
  display: flex;
  margin-top: 5px; }
  .sub-title-pract img {
    height: 19px;
    width: 17px;
    padding-top: 3px;
    margin-right: 15px; }

.about__subtitles-first {
  margin-top: 30px; }

.pad {
  padding-left: 20px; }

.svg-pract-page {
  margin-right: 40px; }

@media (max-width: 1124px) {
  .about-line-fix {
    position: absolute;
    top: 34px; } }
@media (max-width: 755px) {
  .about-page-top-block {
    padding-top: 135px !important;
    flex-direction: column; }

  .bottom-wrap {
    padding-left: 0; }

  .header-pract {
    margin-bottom: 30px; } }
@media (max-width: 518px) {
  .about-line-fix {
    position: absolute;
    top: 29px; } }
@media (max-width: 380px) {
  .green-pract__title {
    font-size: 14px; } }
@media (max-width: 385px) {
  .green__title {
    font-size: 20px; } }
body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

*,
*:after,
*:before {
  box-sizing: border-box; }

.container {
  max-width: 85%;
  margin: 0 auto;
  border: 1px solid transparent; }

a {
  text-decoration: none;
  color: #fff; }

img {
  max-width: 100%;
  height: auto; }

.slide-prof.slick-slide {
  transition: opacity 500ms ease 0s !important; }

/*# sourceMappingURL=style.css.map */
