{% load gao %}
<div id="tab_22" class="tab-auto-content-prof">
  <div class="main_user_data">
    Документи
    <!-- Угода про подання правової допомоги. Протокол погодження ціни 
    Процесуальні документи 
    Документи виготовлені адвокатам 
    Сканкопії інших документів  -->
  </div>
  <div class="main_doc_link__block">
    <div data-tab='1' class="button_transparent main_doc_link main_doc_link_active">
        Мої документи
    </div>
    <div data-tab='2' class="button_transparent main_doc_link">
        Від клієнтів
    </div>
  </div>
  <div class="main_doc_content__block">
    <!-- мої документи -->
    <div id="profile_1" class="main_doc_content main_doc_content_active">
      <div class="doc-block">
          {% for document in user.get_documents %}
          <div class="doc-profile">
              <div class="doc-top">
                  <div class="doc-img-wrap">
                      <img src="/static/img/doc.svg" alt="">
                      <div class="doc-name">
                          <!-- Docum 1 -->
                          {{document}}
                      </div>
                  </div>
                  <div class="doc__title">
                      {{document.file}}
                  </div>
              </div>
              <div class="doc-bot">
                  <div class="doc-btn">
                      <a href="{{document.file.url}}" download>
                          Завантажити
                      </a>
                  </div>
                  {% if document.is_pdf %}
                  <div class="doc-btn">
                      <a href="{% url 'read_document' document.id %}">
                          Переглянути
                      </a>
                  </div>
                  {% endif %}
              </div>
          </div>
          {% endfor %}
      </div>
      <div class="advocate_doc_add_btn__block">
          <label class="advocate_doc_add_label button_transparent" for="advocate_doc_add_btn">
              Обзор
          </label>
          <input type="file" multiple id="advocate_doc_add_btn" class="advocate_doc_add_btn">
      </div>
    </div>
    <!-- від клієнтів -->
    <div id="profile_2" class="main_doc_content">
    {% for client in clients %}
      {% get_client_consultations client user as client_consultations %}
      {% if client_consultations.exists %}
      <div class="docs__wrap">
        <div class="docs_title_btn docs_title midle_title midle_title_3 color_gold">
          <svg class="close_client" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10 fa-3x"><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg>
          <svg class="open_client" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="21.1666mm" height="21.1666mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="0 0 2117 2117"
          xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Layer_x0020_1">
                  <metadata id="CorelCorpID_0Corel-Layer"/>
                  <path fill='#D2A351' d="M1621 659c62,-54 156,-47 210,15 54,63 47,157 -15,211l-656 568 -2 3 -2 2 -1 0 -2 2 -1 1 -2 1 -1 1 -2 2 -1 0 -2 2 -1 1 -2 1 -1 1 -2 1 -1 1 -3 1 0 0 -3 2 0 0 -3 2 0 0 -3 1 -1 1 -3 1 0 0 -3 2 0 0 -3 1 -1 0 -3 1 0 0 -3 2 0 0 -4 1 0 0 -3 1 0 0 -4 1 0 0 -3 1 -4 1 0 0 -3 0 0 0 -4 1 -3 0 0 1 -4 0 0 0 -3 0 -4 1 -3 0 -4 0 -4 0 -3 0 -4 0 -3 0 -4 -1 -3 0 -1 0 -3 0 0 -1 -4 0 -3 -1 0 0 -4 0 0 0 -3 -1 -4 -1 0 0 -3 -1 0 0 -4 -1 0 0 -3 -1 0 0 -3 -2 -1 0 -3 -1 0 0 -3 -1 0 0 -3 -2 -1 0 -3 -1 0 -1 -3 -1 0 0 -3 -2 0 0 -3 -2 -1 0 -2 -1 -1 -1 -2 -1 -1 -1 -2 -1 -1 -1 -2 -2 -1 0 -2 -2 -1 -1 -2 -1 -1 -1 -2 -2 -1 0 -2 -2 -3 -3 -655 -568c-63,-54 -69,-148 -16,-211 54,-62 148,-69 211,-15l562 489 563 -489z"/>
              </g>
          </svg>
          <span class="docs_client_name">
              {{ client.first_name }} {{ client.username }}
          </span> 
        </div>
        {% for consultation in client_consultations %}
        <div class="doc_content__wrapper">
          <div class="docs__wrap">
            <div class="docs_title midle_title midle_title_3 color_gold">
                Консультація {{ forloop.counter }}
            </div>
            {% for document in consultation.get_documents %}
                <a href="{{ document.file.url }}" class="doc_content standart_title standart_title_4 color_black">
                    {{ document.file }}
                </a>
            {% empty %}
            <span class="doc_content standart_title standart_title_4 color_black">Немає документів</span>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
