<div id="profile_3" class="advocate_calender_container main_doc_content main_doc_content_active">
  <!-- Оранжевий квадрат -->
  <div class="advocate_calender_info" data-id="введи сюди айді консультації">
      <div class="advocate_first_info__block">
          <div class="advocate_first_info main_title main_title_4 color_gold">
              Оберіть день та виберіть потрібну консультацію
          </div>  
      </div>
      <div class="advocate_current_info__block">
      <div class="advocate_info_name advocate_name main_title main_title_4 color_gold">
          Боровець Микола
      </div>
      <div class="hidden_wrap_inp">
          {% csrf_token %}
      </div>
      <div class="advocate_info_subname advocate_subname standart_title standart_title_4 color_black">
          <!-- Клієнт -->
      </div>
      <div class="advocate_type__block">
          <div class="advocate_type_title__block">
              <img src="/static/img/profile/2.svg" alt="">
              <div class="advocate_type_title main_title main_title_4 color_gold">
                  Галузь
              </div>
          </div>
          <div class="branch__wrap">
              <div class="advocate_type_work standart_title standart_title_4 color_black">
                  Судова галузь
              </div>
          </div>
      </div>
      <div class="advocate_name main_title main_title_4 color_gold">
          Статус консультації:
      </div>
      <div class="advocate_calender_select">
          <select style="width: 100%;" class="status_select" name="status">
              <!-- <option class="advocate_subname standart_title standart_title_4 color_black"  value="UNORDERED">
                  Незавершено
              </option> -->
              <option class="advocate_subname standart_title standart_title_4 color_black" selected='selected' value="DECLINED">
                  Відмовлено
              </option>
              <option class="advocate_subname standart_title standart_title_4 color_black" value="IN_PROGRESS">
                  В процессі
              </option>
              <option class="advocate_subname standart_title standart_title_4 color_black" value="FINISHED">
                  Завершено
              </option>
          </select>
      </div>
      <div class="consultation_section consultation_center">
          <div class="advocate_user_item__block">
              <div class="advocate_user_img">
                  <img src="/static/img/profile/2.svg" alt="">
              </div>
              <div class="advocate_data_user_title advocate_user_title standart_title standart_title_4 color_black">
                  Середа. 15.08.2020.ываываыва
              </div>
          </div>
          <div class="advocate_user_item__block">
              <div class="advocate_user_img">
                  <img src="/static/img/profile/5.svg" alt="">
              </div>
              <div class="advocate_user_title standart_title standart_title_4 color_black">
                  <span class="user_date_span">з 09.00 по 11.00.</span>
                  <span class="user_transition_span">консультація -  2 год.</span>
              </div>
          </div>
          <div class="communicate_advocate_user_item__block advocate_user_item__block">
              <div class="advocate_user_img">
                  <img src="/static/img/profile/5.svg" alt="">
              </div>

          <div class="advocate_calender_select">
              <select style="width: 100%;" class="communicate_select" name="status">
              <option class="advocate_subname advocate_user_title main_title main_title_4 color_gold" value="SKYPE" selected='selected'>SKYPE</option>
              <option class="advocate_subname advocate_user_title main_title main_title_4 color_gold" value="VIBER" >VIBER</option>
              <option class="advocate_subname advocate_user_title main_title main_title_4 color_gold" value="GMEET" >GMEET</option>
              <option class="advocate_subname advocate_user_title main_title main_title_4 color_gold" value="ZOOM" >ZOOM</option>
              <option class="advocate_subname advocate_user_title main_title main_title_4 color_gold" value="OFFICE" >OFFICE</option>
              </select>
          </div>
          </div>
          <div class="advocate_user_item__block">
              <div class="advocate_user_img">
                  <img src="/static/img/profile/8.svg" alt="">
              </div>
              <div class="advocate_user_title standart_title standart_title_4 color_black">
                  <span>Вартість консультації:</span>
                  <span class="advocate_price_span color_gold">1000 грн</span>
              </div>
          </div>
          <div class="consultation_advocate_doc__block">
            <div class="main_title main_title_4 color_green">
                Файли адвоката
            </div>  
            <label class="consultation_advocate_doc_label button_transparent" for="consultation_advocate_doc_btn">
                Обзор
            </label>
            <input type="file" multiple id="consultation_advocate_doc_btn" class="consultation_advocate_doc_btn">
            <div class="consultation_place_scroll">
                <div class="calender_consultation_place consultation_place">
                    <!-- тут генеруються файли адвоката -->
                </div>
            </div>
          </div>
          <div class="consultation_title main_title main_title_4 color_green">
              Файли клієнта
          </div>
          <div class="info_consultation_scroll">
            <div class="calender_consultation_file__block info_consultation_file__block consultation_file__block">
                <!-- тут генеруються файли клієнта -->
             </div>
          </div>
          <div class="consultation_comment__block standart_title standart_title_4 color_black">
             <!-- тут генеруються коменти адвоката -->
          </div>
      </div>
      </div>
  </div>
  <!-- ! Оранжевий квадрат -->
  <div class="advocate_calender__block">
    <div class="advocate_calender_navigate">
      <div class="advocate_calender_arrow advocate_calender_arrow_1">
          <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="21.1666mm" height="21.1666mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="0 0 2117 2117"
          xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Layer_x0020_1">
                  <metadata id="CorelCorpID_0Corel-Layer"/>
                  <path fill='#D2A351' fill-rule='nonzero' d="M1621 659c62,-54 156,-47 210,15 54,63 47,157 -15,211l-656 568 -2 3 -2 2 -1 0 -2 2 -1 1 -2 1 -1 1 -2 2 -1 0 -2 2 -1 1 -2 1 -1 1 -2 1 -1 1 -3 1 0 0 -3 2 0 0 -3 2 0 0 -3 1 -1 1 -3 1 0 0 -3 2 0 0 -3 1 -1 0 -3 1 0 0 -3 2 0 0 -4 1 0 0 -3 1 0 0 -4 1 0 0 -3 1 -4 1 0 0 -3 0 0 0 -4 1 -3 0 0 1 -4 0 0 0 -3 0 -4 1 -3 0 -4 0 -4 0 -3 0 -4 0 -3 0 -4 -1 -3 0 -1 0 -3 0 0 -1 -4 0 -3 -1 0 0 -4 0 0 0 -3 -1 -4 -1 0 0 -3 -1 0 0 -4 -1 0 0 -3 -1 0 0 -3 -2 -1 0 -3 -1 0 0 -3 -1 0 0 -3 -2 -1 0 -3 -1 0 -1 -3 -1 0 0 -3 -2 0 0 -3 -2 -1 0 -2 -1 -1 -1 -2 -1 -1 -1 -2 -1 -1 -1 -2 -2 -1 0 -2 -2 -1 -1 -2 -1 -1 -1 -2 -2 -1 0 -2 -2 -3 -3 -655 -568c-63,-54 -69,-148 -16,-211 54,-62 148,-69 211,-15l562 489 563 -489z"/>
              </g>
          </svg>
      </div>
      <div class="advocate_calender_arrow advocate_calender_arrow_2">
          <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="21.1666mm" height="21.1666mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="0 0 2117 2117"
          xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Layer_x0020_1">
                  <metadata id="CorelCorpID_0Corel-Layer"/>
                  <path fill='#D2A351' fill-rule='nonzero' d="M1621 659c62,-54 156,-47 210,15 54,63 47,157 -15,211l-656 568 -2 3 -2 2 -1 0 -2 2 -1 1 -2 1 -1 1 -2 2 -1 0 -2 2 -1 1 -2 1 -1 1 -2 1 -1 1 -3 1 0 0 -3 2 0 0 -3 2 0 0 -3 1 -1 1 -3 1 0 0 -3 2 0 0 -3 1 -1 0 -3 1 0 0 -3 2 0 0 -4 1 0 0 -3 1 0 0 -4 1 0 0 -3 1 -4 1 0 0 -3 0 0 0 -4 1 -3 0 0 1 -4 0 0 0 -3 0 -4 1 -3 0 -4 0 -4 0 -3 0 -4 0 -3 0 -4 -1 -3 0 -1 0 -3 0 0 -1 -4 0 -3 -1 0 0 -4 0 0 0 -3 -1 -4 -1 0 0 -3 -1 0 0 -4 -1 0 0 -3 -1 0 0 -3 -2 -1 0 -3 -1 0 0 -3 -1 0 0 -3 -2 -1 0 -3 -1 0 -1 -3 -1 0 0 -3 -2 0 0 -3 -2 -1 0 -2 -1 -1 -1 -2 -1 -1 -1 -2 -1 -1 -1 -2 -2 -1 0 -2 -2 -1 -1 -2 -1 -1 -1 -2 -2 -1 0 -2 -2 -3 -3 -655 -568c-63,-54 -69,-148 -16,-211 54,-62 148,-69 211,-15l562 489 563 -489z"/>
              </g>
          </svg>
      </div>
    </div>
    <div class="advocate_slick_date__block">	
        {% for date in dates %}
        <div data-day_id='{{forloop.counter}}' data-date='{{date|date:"d.m.Y"}}' class="advocate_slick_date_prof standart_title standart_title_4 color_black {% if date == today %} advocate_slick_date_prof_active {% endif %}">
            {{date|date:"d.m.Y"}}
            <!-- {{date}} -->
        </div>
        {% endfor %}
    </div>
    <div class="scroll_calender__wrapper">
        <!-- TODO сюда треба вставити змінну з вибраним інтервалом -->
        <div data-interval='30' class="all_calender__wrapper">
            <div class="advocate_calender_time__block">
                <!-- {% for hour in hours_list %}
                <div data-clock='{{hour}}' class="adv_cal_time">
                    <div class="grid_inner">
                        <div class="grid_content">
                            {{hour}}
                        </div>
                    </div>
                </div>
                {% endfor %} -->
            </div>
            <!-- <div class="time_advocate_calender_navigate">
                <div class="advocate_time_arrow advocate_time_arrow_1">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="21.1666mm" height="21.1666mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    viewBox="0 0 2117 2117"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"/>
                            <path fill='#D2A351' fill-rule='nonzero' d="M1621 659c62,-54 156,-47 210,15 54,63 47,157 -15,211l-656 568 -2 3 -2 2 -1 0 -2 2 -1 1 -2 1 -1 1 -2 2 -1 0 -2 2 -1 1 -2 1 -1 1 -2 1 -1 1 -3 1 0 0 -3 2 0 0 -3 2 0 0 -3 1 -1 1 -3 1 0 0 -3 2 0 0 -3 1 -1 0 -3 1 0 0 -3 2 0 0 -4 1 0 0 -3 1 0 0 -4 1 0 0 -3 1 -4 1 0 0 -3 0 0 0 -4 1 -3 0 0 1 -4 0 0 0 -3 0 -4 1 -3 0 -4 0 -4 0 -3 0 -4 0 -3 0 -4 -1 -3 0 -1 0 -3 0 0 -1 -4 0 -3 -1 0 0 -4 0 0 0 -3 -1 -4 -1 0 0 -3 -1 0 0 -4 -1 0 0 -3 -1 0 0 -3 -2 -1 0 -3 -1 0 0 -3 -1 0 0 -3 -2 -1 0 -3 -1 0 -1 -3 -1 0 0 -3 -2 0 0 -3 -2 -1 0 -2 -1 -1 -1 -2 -1 -1 -1 -2 -1 -1 -1 -2 -2 -1 0 -2 -2 -1 -1 -2 -1 -1 -1 -2 -2 -1 0 -2 -2 -3 -3 -655 -568c-63,-54 -69,-148 -16,-211 54,-62 148,-69 211,-15l562 489 563 -489z"/>
                        </g>
                    </svg>
                </div>
                <div class="advocate_time_arrow advocate_time_arrow_2">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="21.1666mm" height="21.1666mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    viewBox="0 0 2117 2117"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"/>
                            <path fill='#D2A351' fill-rule='nonzero' d="M1621 659c62,-54 156,-47 210,15 54,63 47,157 -15,211l-656 568 -2 3 -2 2 -1 0 -2 2 -1 1 -2 1 -1 1 -2 2 -1 0 -2 2 -1 1 -2 1 -1 1 -2 1 -1 1 -3 1 0 0 -3 2 0 0 -3 2 0 0 -3 1 -1 1 -3 1 0 0 -3 2 0 0 -3 1 -1 0 -3 1 0 0 -3 2 0 0 -4 1 0 0 -3 1 0 0 -4 1 0 0 -3 1 -4 1 0 0 -3 0 0 0 -4 1 -3 0 0 1 -4 0 0 0 -3 0 -4 1 -3 0 -4 0 -4 0 -3 0 -4 0 -3 0 -4 -1 -3 0 -1 0 -3 0 0 -1 -4 0 -3 -1 0 0 -4 0 0 0 -3 -1 -4 -1 0 0 -3 -1 0 0 -4 -1 0 0 -3 -1 0 0 -3 -2 -1 0 -3 -1 0 0 -3 -1 0 0 -3 -2 -1 0 -3 -1 0 -1 -3 -1 0 0 -3 -2 0 0 -3 -2 -1 0 -2 -1 -1 -1 -2 -1 -1 -1 -2 -1 -1 -1 -2 -2 -1 0 -2 -2 -1 -1 -2 -1 -1 -1 -2 -2 -1 0 -2 -2 -3 -3 -655 -568c-63,-54 -69,-148 -16,-211 54,-62 148,-69 211,-15l562 489 563 -489z"/>
                        </g>
                    </svg>
                </div>
            </div> -->
        </div>
        
        <div class="advocate_calender_item__block">
            <!-- // тут генерується календар -->
        </div>
    </div>
    <div class="advocate_calender_message_for_advocate">
        На данний день консультацій не заплановано
    </div>
    <div class="reserve_btn button_transparent">
        Забронювати
    </div>
    <form action="/test/" class="reserve_hidden_content">
      <div class="reserve_date__block">
          <div class="reserve_infos advocate_user_item__block">
              <div class="advocate_user_img">
                  <img src="/static/img/profile/2.svg" alt="">
              </div>
              <div class="advocate_user_title standart_title standart_title_4 color_black">
                  Введіть дату
              </div>
          </div>
          <div class="reserve_contents advocate_user_input__block">
              
              <input type="text" id="datapicker_user" autocomplete="off" class="datapicker_user">
          </div>
      </div>
      <div class="reserve_clock__block">
          <div class="reserve_infos advocate_user_item__block">
              <div class="advocate_user_img">
                  <img src="/static/img/profile/5.svg" alt="">
              </div>
              <div class="advocate_user_title standart_title standart_title_4 color_black">
                  Введіть час
              </div>
          </div>
          <div class="reserve_contents advocate_user_clock__block">
              з 
              <div data-clock="0" class="first_advocate_user_clock advocate_user_clock">
                  0
              </div>
              по
              <div data-clock="0" class="second_advocate_user_clock advocate_user_clock">
                  0
              </div>
              <div class="advocate_step_hidden_content step_hidden_content">
                  <div class="step_date__block">
                      <div class="step_date_scroll__wrap custom-scrollbar">
                          <!-- data-transition='30' тут має виводитись яка тривалість консультації -->
                          <div data-transition='30' class="step_date__wrap custom-scrollbar__inner">
                              
                          </div>

                          <div class="custom-scrollbar__bar">
                              <div class="custom-scrollbar__knob">
                                  <div class="active_line__bar"></div>
                              </div>
                          </div>
                      </div>
                      <div class="step_access__block">
                          <div class="step_access_text standart_title standart_title_1 color_black">
                              Тривалість консультації
                          </div>
                          <div class="step_access__wrap">
                              <div class="step_access standart_title standart_title_3 color_black">
                                  0
                              </div>
                              <!-- <div class="step_access_btn step_advocate_btn">
                                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="88.1944mm" height="88.1944mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                  viewBox="0 0 8819 8819"
                                  xmlns:xlink="http://www.w3.org/1999/xlink">
                                  <g id="Layer_x0020_1">
                                  <metadata id="CorelCorpID_0Corel-Layer"/>
                                  <g id="_2354017391152">
                                  <circle class="svg_bg" cx="4410" cy="4410" r="3360"/>
                                  <path class="svg_step" d="M4410 882c973,0 1855,395 2494,1033 639,640 1034,1521 1034,2495 0,973 -395,1855 -1034,2494 -639,639 -1521,1034 -2494,1034 -974,0 -1855,-395 -2494,-1034 -639,-639 -1034,-1521 -1034,-2494 0,-974 395,-1855 1033,-2494 640,-639 1521,-1034 2495,-1034zm2257 1270c-577,-577 -1375,-934 -2257,-934 -882,0 -1680,357 -2257,934 -578,578 -935,1376 -935,2258 0,882 357,1680 934,2257 578,578 1376,935 2258,935 882,0 1680,-357 2257,-935 578,-577 935,-1375 935,-2257 0,-882 -357,-1680 -935,-2258z"/>
                                  <path class="svg_step" d="M3262 4499c-70,-60 -78,-166 -18,-236 61,-70 167,-77 237,-17l752 650 1086 -1318c59,-72 165,-82 236,-23 71,58 82,164 23,235 -398,484 -793,979 -1198,1455 -61,70 -166,77 -236,17l-882 -763z"/>
                                  </g>
                                  </g>
                                  </svg>
                              </div> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
      <div class="reserve_comment__block">
          <div class="reserve_infos advocate_user_title standart_title standart_title_4 color_black">
              Коментар
          </div>
          <div class="reserve_contents advocate_user_comment__block">
              <textarea></textarea>
          </div>
      </div>
      <div class="error_reserve"></div>
      <div type="submit" class="save_reserve_date_btn button_transparent">
          Відправити
      </div>
    </form>
  </div>
</div>
