<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<script>



	
		
		
		function qwerty (u_1) {

		for (var prop in u_1) {
		alert(prop + "=" + u_1[prop]); // выведет name=Ivan и age=32
		}

		}
		var u = {
			age: 18,
			name: "Anton"
		}

		qwerty(u);
// function showMessage (from, text) {



// 	from = '*' + from + '*';
// 	alert( from + ': ' + text);
// }
// let from = "Аня";
// showMessage(from, "Привет");
// alert( from );





	</script>

</body>
</html>

<!-- 

ств параметр
Ств функцію
викликати функцію та передати їй параметр
 -->
<!-- 
 var q = 1;
 var w = "1";
 var t = true;
 var t;
 var y = null;
var u = {
	tel: "380",
	name: "rty"
}
var p = [0]; -->