<footer class="footer">
  <div class="container">
   <form method="POST" action="" class="cmxform true_form" id="modal-form_true" style="display:none;">
   <img class="form_true_img" src="/static/img/png-123.png" alt="">
   <div class="footer__sub">
       Дякуємо, заявка опрацьована <br>
       Наші менеджери звяжуться з вами
   </div>
   </form>
   <form method="POST" action="" class="cmxform true_form" id="modal_form_false" style="display:none;">
    <img class="form_true_img" src="/static/img/error.png" alt="">
    <div class="footer__sub">
      Такого користувача не існує <br>
      Пароль та логін надсилаються клієнтам на пошту
    </div>
    </form>
    <form сlass="formA" id="modal-form_user" style="display:none;" action="{% url 'custom_login' %}">

        <div class="inp-vak-wrap">
            <label class="label__style" for="firstname">Логін</label class="label__style">
            <input id="firstname" name="username" placeholder="Логін" type="text">
        </div>
        <div class="inp-vak-wrap">
            <label class="label__style" for="email">Пароль</label>
            <input id="password" name="password" type="password" placeholder="*****">
        </div>
        <div class="error_block_false">
          Пароль та логін надсилаються клієнтам на пошту
        </div>
       
            <input class="submit_vak btn-read hvr-fade" type="submit" value="увійти">
      
    </form>
    <div class="footer-block">
      <div class="foter-multi">
        <div class="footer-left">
          © galpravgroup.com.ua Всі права захищено
        </div>
        <div class="footer-center">
          <ul class="footer-prof">
            <a href="{% url 'about' %}">
              <li class="hvr-underline-from-center">Про нас</li>
            </a>
            <a class="team__footer" href="#main__title-team">
              <li class="hvr-underline-from-center">Команда</li>
            </a>
            <a class="practise__footer" href="#team-btn">
              <li class="hvr-underline-from-center">Практики</li>
            </a>
            <a href="{% url 'blog' %}">
              <li class="hvr-underline-from-center">Блог</li>
            </a>
            <a href="{% url 'contacts' %}">
              <li class="hvr-underline-from-center">Контакти</li>
            </a>
          </ul>
        </div>
      </div>
      <div class="footer-right">
        <a class="footer-logo" href="https://starwayua.com/">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
            id="starway_logo" x="0px" y="0px" viewBox="0 0 86.6 38.2" enable-background="new 0 0 86.6 38.2"
            xml:space="preserve" style="
              height: 26px;
          ">
            <g>
              <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                points="79.1,32.5 75.8,38.2 86.6,38.2 81.2,28.8  "></polygon>
              <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                points="75.5,0 81.2,10 75.8,19.4 64.7,0  "></polygon>
              <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                points="69.7,11.2 66.9,16 70.7,28.2 70.4,28.8 75.1,20.7  "></polygon>
              <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" points="53.8,0 70.4,28.8 65,38.2 43,0  ">
              </polygon>
              <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                d="M48.2,11l-2.9,5l3.8,12.3l-0.3,0.6l4.8-8.3L48.2,11L48.2,11z    M48.7,28.8L48.7,28.8L48.7,28.8z">
              </path>
              <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                points="32.2,0 48.7,28.8 43.3,38.2 21.4,0  "></polygon>
              <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" points="20.3,0 25,9.6 19.5,9.6 11.3,0  ">
              </polygon>
              <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                d="M10.5,0l16.6,28.8l-5.4,9.4L5.1,9.4L10.5,0L10.5,0z M21.2,26   l-0.6,1.7l-1.8,0l1.5,1.1l-0.6,1.7l1.5-1.1l1.5,1.1l-0.6-1.7l1.5-1.1l-1.8,0L21.2,26L21.2,26z M18.5,21.3L17.9,23l-1.8,0l1.5,1.1   L17,25.7l1.5-1.1l1.5,1.1L19.3,24l1.5-1.1L19,23L18.5,21.3L18.5,21.3z M15.7,16.5l-0.6,1.7l-1.8,0l1.5,1.1L14.3,21l1.5-1.1l1.5,1.1   l-0.6-1.7l1.5-1.1l-1.8,0L15.7,16.5L15.7,16.5z M13,11.8l-0.6,1.7l-1.8,0l1.5,1.1l-0.6,1.7l1.5-1.1l1.5,1.1l-0.6-1.7l1.5-1.1   l-1.8,0L13,11.8L13,11.8z M10.3,7L9.7,8.7l-1.8,0l1.5,1.1l-0.6,1.7l1.5-1.1l1.5,1.1l-0.6-1.7l1.5-1.1l-1.8,0L10.3,7z">
              </path>
              <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                d="M20.5,36.2l1.1,2h0L20.5,36.2L20.5,36.2z M21.7,38.2l-0.4,0   l-8.5-9.4H5.9l7.3,9.4H21.7z"></path>
              <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" points="5.4,28.8 10.8,38.2 0,38.2  ">
              </polygon>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>