<link href="/static/css/normalize.css" rel="stylesheet">
<script src="/static/js/jQuery.js" type="text/javascript" ></script>
<script src="/static/js/lazy.js"   type="text/javascript" ></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="/static/js/jquery.parallax.min.js" type="text/javascript" ></script>


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script> -->



<!-- <script src="/static/js/jquery.fancybox.min.js"></script> -->


<script src="/static/slick/slick.min.js"></script>
<script src="/static/js/lazyloadxt.extra.js"></script>
<script src="/static/js/jquery.maskedinput.min.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/jquery.validate.min.js" defer></script>
<script src="/static/js/ajax_form.js" defer></script>
<script defer src="/static/js/main.js" type="text/javascript"></script>


<script defer type="module">
	import fetchScript from '/static/js/index.js';

	const fetch = fetchScript();

	var test = function (){
		fetch('/static/js/jquery.fancybox.min.js', {timeout: 1000})
		.then(function(response) {

		  console.log('script loaded successfully');
		  	    $('.link-fanc').fancybox({
		          touch: false
		      });
		})
		.catch(function(ex) {

		  console.log('failed', ex);
		});
	};
	setTimeout(test, 1000);



	
</script>




<!-- <script defer type="text/javascript">

	function add(){ 
	if (screen.width > 930) {
			
		document.write('<script type="text/javascript" src="/static/js/jquery.parallax.min.js" ></sc' + 'ript>');

		

	}
	 
	 } 
	 add();
	
</script>







<script defer type="text/javascript">
	function disp(){ 
		var scene = document.getElementById('scene');
		if (scene != null && screen.width > 930) {
			console.log('hello');
			
		    var parallaxInstance = new Parallax(scene);
		}
	
	} 
	  
	// Calling add() function 
	disp();
</script> -->