<section id="map" class="map">
  <div class="container">
    <div class="map-wrap">
      <div class="map-text">
        <img class="logo-map" data-src="/static/img/map/logo-map.png" alt="">
        <div class="city-swap">
          <div data-tab="tab_1" class="city-name city-name_active">
            <!-- Центральний офіс -->
            Офіс с.Павлів
          </div>
          <div data-tab="tab_2" class="city-name">
            <!-- філія Тернопіль -->
            Офіc м. Тернопіль
          </div>
          <div data-tab="tab_3" class="city-name">
            <!-- філія Львів -->
            Офіс м.Львів
          </div>
        </div>
        <div class="tab-content">
            {% include 'components/tab1.html' %}
            {% include 'components/tab2.html' %}
            {% include 'components/tab3.html' %}
        </div>
      </div>
      <div class="map-right">
        <iframe id="mtab_1" class="map-footer lazy  map-footer_active" data-src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10203.73408311926!2d24.5301396!3d50.2558259!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47253b3d4b0b3c0d%3A0x6fd81def9d459144!2z0JDQlNCS0J7QmtCQ0KLQodCs0JrQlSDQntCRJ9CE0JTQndCQ0J3QndCvIMKr0JPQkNCb0JjQptCs0JrQkCDQn9Cg0JDQktCd0JjQp9CQINCT0KDQo9Cf0JAi!5e0!3m2!1sru!2sua!4v1578650980902!5m2!1sru!2sua" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        <iframe id="mtab_2" class="map-footer lazy" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2587.956281528126!2d25.596560414792645!3d49.560848058943506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47303170d83c0e0f%3A0x5aa15bbd038daf2b!2z0JDQlNCS0J7QmtCQ0KLQodCs0JrQlSDQntCRJ9CE0JTQndCQ0J3QndCvIMKr0JPQkNCb0JjQptCs0JrQkCDQn9Cg0JDQktCd0JjQp9CQINCT0KDQo9Cf0JAi!5e0!3m2!1sru!2sua!4v1578651268861!5m2!1sru!2sua" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        <iframe id="mtab_3" class="map-footer lazy" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d643.0016855172552!2d24.05051582922921!3d49.8611179987124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDnCsDUxJzQwLjAiTiAyNMKwMDMnMDMuOCJF!5e0!3m2!1sru!2sua!4v1576848867891!5m2!1sru!2sua" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</section>

