<section id="map" class="map">
  <div class="container">
    <div class="map-wrap">
      <div class="map-text">
        <img class="logo-map" data-src="/static/img/map/logo-map.png" alt="">
        <div class="city-swap">
          <div data-tab="tab_1" class="city-name city-name_active">
            <!-- Центральний офіс -->
            Офіс с.Павлів
          </div>
          <div data-tab="tab_2" class="city-name">
            <!-- філія Тернопіль -->
            Офіc м. Тернопіль
          </div>
          <div data-tab="tab_3" class="city-name">
            <!-- філія Львів -->
            Офіс м.Львів
          </div>
        </div>
        <div class="tab-content">
            {% include 'components/tab1.html' %}
            {% include 'components/tab2.html' %}
            {% include 'components/tab3.html' %}
        </div>
      </div>
      <div class="map-right">
        <!-- <iframe id="mtab_1" class="map-footer lazy  map-footer_active" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2550.9265612593326!2d24.53525131560841!3d50.255955879449026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47253a60a91c409d%3A0xc27e998fb31fb587!2z0LLRg9C70LjRhtGPINCu0L3QvtGB0YLRliwgMzksINCf0LDQstC70ZbQsiwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA4MDI1MA!5e0!3m2!1sru!2sua!4v1576234420529!5m2!1sru!2sua" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe> -->
        <!-- <iframe id="mtab_1" class="map-footer lazy  map-footer_active" data-src="https://www.google.com/maps/place/@50.2546723,24.5312635,13.75z/data=!4m5!3m4!1s0x47253b3d4b0b3c0d:0x6fd81def9d459144!8m2!3d50.2558516!4d24.5370507" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe> -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10203.73408311926!2d24.5301396!3d50.2558259!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47253b3d4b0b3c0d%3A0x6fd81def9d459144!2z0JDQlNCS0J7QmtCQ0KLQodCs0JrQlSDQntCRJ9CE0JTQndCQ0J3QndCvIMKr0JPQkNCb0JjQptCs0JrQkCDQn9Cg0JDQktCd0JjQp9CQINCT0KDQo9Cf0JAi!5e0!3m2!1sru!2sua!4v1578650980902!5m2!1sru!2sua" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        
        <iframe id="mtab_2" class="map-footer lazy" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2587.932494315427!2d25.59598641558165!3d49.56129687936264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473031485394f13f%3A0x756b6fd1ad616bdd!2z0JHRgNC-0LTRltCy0YHRjNC60LAg0LLRg9C70LjRhtGPLCAxNCwg0KLQtdGA0L3QvtC_0ZbQu9GMLCDQotC10YDQvdC-0L_RltC70YzRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNDYwMDA!5e0!3m2!1sru!2sua!4v1576234550721!5m2!1sru!2sua" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        <!-- <iframe id="mtab_3" class="map-footer lazy" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1249.376460706454!2d24.050053153787907!3d49.86177149070957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473adce202ff34d3%3A0xff826a37f312f325!2sBusiness%20Center%20%22Lemberg%22!5e0!3m2!1sru!2sua!4v1576234606192!5m2!1sru!2sua" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe> -->
        <iframe id="mtab_3" class="map-footer lazy" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d643.0016855172552!2d24.05051582922921!3d49.8611179987124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDnCsDUxJzQwLjAiTiAyNMKwMDMnMDMuOCJF!5e0!3m2!1sru!2sua!4v1576848867891!5m2!1sru!2sua" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</section>

