<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{page.meta_descr}}">
    <meta name="Keywords" content="{{page.meta_key}}"> 
    <meta property="og:image" content="/static/ogimage.jpg"/>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <!-- <meta name="robots" content="noindex, nofollow" /> -->
    <title>{{page.meta_title}}</title>
    {% block head_static%}
        {% include 'includes/head_static.html' %}
    {% endblock head_static%}
</head>
<body>
     {% include 'includes/navbar.html' %}
    {% block without_header%}
    {% endblock without_header %}
    <header 
        id="{%block header_id%}{%endblock header_id%}"
        class="{%block header_class%}{%endblock header_class%}"
    >
        <div class="{% if not page_is_index %}container{%endif%}">
            {% block content%}
            {% endblock content%}
        </div>
    </header>
    {% block extra_content %}
    {% endblock extra_content %}
    {% include 'includes/map.html' %}
    {% include 'includes/footer.html' %}
    {% block footer_static%}
        {% include 'includes/footer_static.html' %}
    {% endblock footer_static%}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148727847-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-148727847-4');
    </script>
</body>
</html>


