<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width initial-scale=1">
	<link rel="stylesheet" href="static/css/normalize.css">
	<link rel="stylesheet" href="static/css/jquery.fancybox.min.css">
	<link rel="stylesheet" href="static/css/slick.css">
	<link rel="stylesheet" href="static/css/slick-theme.css">

	<link rel="stylesheet" href="static/css/style.css">
	

</head>
<body class="card">
	
		<header class="kabinet">
			<div class="container">
				<div class="kab__title-wrap">
					<div class="kab__title">
						ОСОБИСТИЙ КАБІНЕТ
					</div>
					<div class="set-wrap" data-src='#modal-form_settings'>
						<img src="static/img/settings.svg" class="set-img" alt="">
					</div>
					
				</div>
				<div class="user_name">
					Бурега Назар Васильович
				</div>
				<div class="all-tab-wrap">
					<div class="auto-tab-link-block">
						<div data-tab="tab_1" class="main_tab__link main_tab__link_active">
							Особисті дані
						</div>
						<div data-tab="tab_2" class="main_tab__link">
							Мої замовлення
						</div>
						<div class="main_tab__link">
							Вихід
						</div>
					</div>
					<div class="tab-auto-content-block">
						<div id="tab_1" class="tab-auto-content-prof tab-auto-content-prof_active">
							<div class="main_user_data">
								Особисті дані
							</div>
							<div class="user-data-prof">
								<div class="user-data-type">
									Ім’я
								</div>
								<div class="user-data-name">
									Назар Бурега
								</div>
							</div>
							<div class="user-data-prof">
								<div class="user-data-type">
									Електронна пошта
								</div>
								<div class="user-data-name">
									Slavko@gmail.com
								</div>
							</div>
							<div class="user-data-prof">
								<div class="user-data-type">
									Номер телефону
								</div>
								<div class="user-data-name">
									+38 (96) 675 -15-**
								</div>
							</div>
							<div class="user-data-prof">
								<div class="user-data-type">
									Стать 
								</div>
								<div class="user-data-name">
									Чоловіча
								</div>
							</div>
							<div class="user-data-prof">
								<div class="user-data-type">
									Дата народження
								</div>
								<div class="user-data-name">
									13.09.1989
								</div>
							</div>
							
						</div>
						<div id="tab_2" class="tab-auto-content-prof">
							<div class="main_user_data">
								Мої замовлення
							</div>
							<div class="mini-tab_link-block">
								<div data-tab="3" class="mini-tab__link mini-tab__link_active">
									Поточні замовлення
								</div>
								<div data-tab="4" class="mini-tab__link">
									Всі замволення
								</div>
							</div>
							<div class="mini-tab-content-block">
								<div id="3" class="mini-tab-content-prof mini-tab-content-prof_active">
									<div class="main_static_info main_static_info_active">
										<div class="static_item">
											#
										</div>
										<div class="static_item">
											Статус
										</div>
										<div class="static_item">
											Доставка в порт
										</div>
										<div class="static_item">
											Порт
										</div>
										<div class="static_item">
											Загальний
										</div>
										<div class="hidden-btn">
											.
										</div>
									</div>
									<div class="wrap_user_items">
										<div class="user-dinamic-info-wrap">
											<div class="main_static_info main_static_info_hidden">
												<div class="static_item">
													#
												</div>
												<div class="static_item">
													Статус
												</div>
												<div class="static_item">
													Доставка в порт
												</div>
												<div class="static_item">
													Порт
												</div>
												<div class="static_item">
													Загальний
												</div>
												<div class="hidden-btn">
													.
												</div>
											</div>
											<div class="fix_last-wrap">
												<div class="static_item num_item">
													10230
												</div>
												<div class="static_item">
													Знайдено
												</div>
												<div class="static_item">
													28.01.2020
												</div>
												<div class="static_item">
													Україна. Одеса
												</div>
												<div class="static_item">
													В процесі
												</div>
												<div class="user-btn">
													<span class="linne1"></span>
													<span class="linne2"></span>
												</div>
											</div>
										</div>
										<div class="hidden_item">
											<div class="active-name-car">
												FORD ESCAPE (2016)
											</div>
											<div class="active-photo-car">
												<div class="kvadratik"></div>
												<div class="kvadratik"></div>
												<div class="kvadratik"></div>
												<div class="kvadratik"></div>
												<div class="kvadratik"></div>
											</div>
											<form action="" class="mini-user-form">
												<div class="inp-mini-wrap">
													<input class="log_in" name="log_in" placeholder="Логін" type="text">
												</div>
												<div class="inp-mini-wrap">
													<input class="pass" name="pass" placeholder="Пароль" type="password">
												</div>
												<input type="submit" class="btn_user_active" value="ВІДСТЕЖУВАТИ">
											</form>
										</div>
									</div>
									
									
									
								</div>
								<div id="4" class="mini-tab-content-prof">
									2
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.container -->
		</header>
		<!-- /.kabinet -->















</body>
</html>
