{% extends 'base.html' %}
{% block header_class%}
practise-header
{% endblock header_class%}
{% block content %}

<div class="post_bg"></div>
<div class="post_title__block">
    <div class="top_post_content">
        <div class="post_data__block">
            <div class="post_data">
                {{post.created}}
            </div>
            <!-- <div class="post_soc">
                <a class="anim_soc" target="_blank" href="https://facebook.com/advocategpg/">
                    <div class="soc-footer">
                        <img src="/static/img/socc.svg" alt="">
                    </div>
                </a>
                <a class="anim_soc" target="_blank" href="https://facebook.com/advocategpg/">
                    <div class="soc-footer soc-footer_2">
                       <img src="/static/img/9.svg" alt="">
                    </div>
                </a>
            </div> -->
        </div>
        <div class="post_data_title green__title add__title">
            {{post.title}}
        </div>
    </div>
    <div class="pref_title__block">
        <div class="main_post__block">
            <div class="user_adder">
                <div class="user_img">
                    <img src="/static/img/about-us/about-icon-1.png" alt="">
                </div>
                <div class="post_user_name">
                    {{post.author.full_name}}
                </div>
                <div class="user_prof">
                    автор, адвокат
                </div>
            </div>
            <div class="about__subtitles">
            </div>
        </div>
        <div class="pref_content">
            <div class="pref_title_img">
                <img src="{{post.image.url}}" alt="{{post.alt}}">
            </div>
            <div class="pref_title">
                {{post.title}}
            </div>
            <div class="pref_txt">
                {{post.body|safe}}
            </div>
        </div>
    </div>
  
</div>

<!-- <div class="last_data__block">
    Опубліковано: 3 липня 2020 р. Стаття 1. <br>
    Автор: Боровець Микола
</div> -->
<div class="last_data__block">
    Опубліковано: {{post.created}} Стаття {{post.id}}. <br>
    Автор: {{post.author.full_name}}
</div>


{% endblock content %}