{% extends 'base.html' %}
{% block head_static%}
{% include 'includes/head_static.html' %}
<link  href="/static/css/new_profile.css" rel="stylesheet">

{% endblock head_static%}

{% block content%}
<body class="card">
		<header class="kabinet">
				<div class="kab__title-wrap">
					<div class="kab__title">
						Мій кабінет
					</div>
					<div class="set-wrap">
						<img src="/static/img/profile/settings.svg" class="set-img" alt="">
					</div>
				</div>
				<div class="user_name midle_title midle_title_3 color_gold">
					Бурега Назар Васильович
				</div>
				<div class="user_type standart_title standart_title_4 color_black">
					клієнт
				</div>
				<div class="all-tab-wrap">
					<div class="auto-tab-link-block">
						<div data-tab="tab_33" class="button_transparent main_tab__link">
							Мох консультації
						</div>
						<div data-tab="tab_11" class="button_transparent main_tab__link main_tab__link_active">
							Особисті дані
						</div>
						<div data-tab="tab_22" class="button_transparent main_tab__link">
							Документи
						</div>
						
						<a class="button_transparent main_tab__link" href="{% url 'custom_logout' %}">
							Вихід
						</a>
					</div>
					<div class="tab-auto-content-block">
						<div id="tab_33" class="tab-auto-content-prof">
							<div class="main_user_data">
								Мої консультації
								<!-- Угода про подання правової допомоги. Протокол погодження ціни 
								Процесуальні документи 
								Документи виготовлені адвокатам 
								Сканкопії інших документів  -->
							</div>
							<div class="main_doc_link__block">
								<div data-tab='3' class="button_transparent main_doc_link main_doc_link_active">
									Бронювання
								</div>
								<div data-tab='4' class="button_transparent main_doc_link">
									Мої консультації
								</div>
							</div>
							<div class="main_doc_content__block">
								<div id="profile_3" class="main_doc_content main_doc_content_active">
									<div class="step_title standart_title standart_title_4 color_black">
										<span class="step_text color_gold">
											Крок 1.
										</span> 
										 Для початку роботи Вам необхідно вибрати галузь 
										юреспруденції та адвоката, котрий надаватиме Вам консультацію.
									</div>
									<div class="step_select__block">
										<div class="step_select">

										</div>
										<div class="step_select">
											
										</div>
									</div>
								</div>
								<div id="profile_4" class="main_doc_content">
									2
								</div>
							</div>
						</div>
						<div id="tab_11" class="tab-auto-content-prof tab-auto-content-prof_active">
							<div class="tab_left_data">
								<div class="main_user_data">
									Особисті дані
								</div>
								<div class="user-data-prof">
									<div class="user-data-type">
									</div>
									<div class="user-data-name">
										{{request.user.first_name}}
									</div>
								</div>
								<div class="user-data-prof">
									<div class="user-data-type">
										Логін
									</div>
									<div class="user-data-name">
										{{request.user.username}}
									</div>
								</div>
								<div class="user-data-prof">
									<div class="user-data-type">
										Електронна пошта
									</div>
									<div class="user-data-name">
										{{request.user.email}}
									</div>
								</div>
								<div class="user-data-prof">
									<div class="user-data-type">
										Номер телефону
									</div>
									<div class="user-data-name">
										{{request.user.phone_number}}
									</div>
								</div>
								<div class="user-data-prof">
									<div class="user-data-type">
										Стать 
									</div>
									<div class="user-data-name">
										13.09.1989
									</div>
								</div>
								<div class="user-data-prof">
									<div class="user-data-type">
										Дата народження
									</div>
									<div class="user-data-name">
										Чоловіча
									</div>
								</div>
								<div class="user-data-prof">
									<div class="user-data-type">
										22.**.19**
									</div>
									<div class="user-data-name">
										Slavko
									</div>
								</div>
							</div>
							<!-- <div class="tab_right_data">
								
							</div> -->
						</div>
						<div id="tab_22" class="tab-auto-content-prof">
							<div class="main_user_data">
								Документи
								<!-- Угода про подання правової допомоги. Протокол погодження ціни 
								Процесуальні документи 
								Документи виготовлені адвокатам 
								Сканкопії інших документів  -->
							</div>
							<div class="main_doc_link__block">
								<div data-tab='1' class="button_transparent main_doc_link main_doc_link_active">
									Від авдокатів
								</div>
								<div data-tab='2' class="button_transparent main_doc_link">
									Мої документи
								</div>
							</div>
							<div class="main_doc_content__block">
								<div id="profile_1" class="main_doc_content main_doc_content_active">
									<div class="doc-block">
										{% for document in request.user.documents.all%}
										<div class="doc-profile">
											<div class="doc-top">
												<div class="doc-img-wrap">
													<img src="/static/img/doc.svg" alt="">
													<div class="doc-name">
														Docum 1
													</div>
												</div>
												<div class="doc__title">
													{{document.file}}
												</div>
											</div>
											<div class="doc-bot">
												<div class="doc-btn">
													<a href="{{document.file.url}}" download>
														Завантажити
													</a>
												</div>
												{% if document.is_pdf %}
												<div class="doc-btn">
													<a href="{% url 'read_document' document.id %}">
														Переглянути
													</a>
												</div>
												{% endif %}
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
								<div id="profile_2" class="main_doc_content">
									<div class="docs__wrap">
										<div class="docs_title midle_title midle_title_3 color_gold">
											Консультація 1
										</div>
										<a href="#" class="doc_content standart_title standart_title_4 color_black">
											Заява1.pdf
										</a>
										<a href="#" class="doc_content standart_title standart_title_4 color_black">
											Заява2.pdf
										</a>
										<a href="#" class="doc_content standart_title standart_title_4 color_black">
											Заява2.pdf
										</a>
									</div>
									<div class="docs__wrap">
										<div class="docs_title midle_title midle_title_3 color_gold">
											Консультація 2
										</div>
										<a href="#" class="doc_content standart_title standart_title_4 color_black">
											Заява1.pdf
										</a>
										<a href="#" class="doc_content standart_title standart_title_4 color_black">
											Заява2.pdf
										</a>
										<a href="#" class="doc_content standart_title standart_title_4 color_black">
											Заява2.pdf
										</a>
									</div>
								</div>
							</div>
							
						</div>
								
					</div>
						</div>
					</div>
				</div>

				 {% include 'includes/form.html' %}
				<div class="btn-wrap-fix">
				  <a data-fancybox data-src="#modal-form" href="javascript:;">
				    <div class="btn-new-page hvr-bounce-to-right">
				      <img class="comun-icon" onclick="gtag('event', 'send', { 'event_category': 'contact_us', 'event_action': 'click', });" src="../../static/img/communicate-icon.png" alt="">
				      Консультація
				    </div>
				  </a>
				</div>



				<form action="{% url 'update_profile' %}" class="cmxform" id="modal-form_settings" style="display:none;">
	
					<div class="inp-vak-wrap">
						<label class="label__style" for="name">Ваше і'мя</label class="label__style">
						<input name="first_name" type="text" value="{{request.user.first_name}}" required>
					</div>

					<div class="inp-vak-wrap">
						<label class="label__style" for="email">Email</label>
						<input name="email" type="text" value="{{request.user.email}}" required>
					</div>
					<div class="inp-vak-wrap">
						<label class="label__style" for="phone">Ваш телефон</label>
						<input name="phone_number" type="text" value="{{request.user.phone}}" maxlength="13" required>
					</div>
					<div class="error_block_false">
						
					</div>
					
						<input class="submit_vak hvr-wobble-horizontal" type="submit" value="зберегти зміни">
					<!-- <div class="no_pass">
						{% trans 'Забули пароль?'
					</div> -->
				</form>
				<form action="{% url 'update_password' %}" class="cmxform" id="modal-form_relog" style="display:none;">
					
					<div class="inp-vak-wrap">
						<label class="label__style" for="pas">Ваш пароль</label class="label__style">
						<input name="old_password" type="text" required>
					</div>
				
					<div class="inp-vak-wrap">
						<label class="label__style" for="pas1">Новий пароль</label>
						<input name="password1" type="password" required>
					</div>
					<div class="inp-vak-wrap">
						<label class="label__style" for="pas2">Підтвердіть новий пароль</label>
						<input name="password2" type="password" maxlength="13" required>
					</div>
					<div class="error_block_false">
						
					</div>
					
						<input class="submit_vak hvr-wobble-horizontal" type="submit" value="зберегти зміни">
					<!-- <div class="no_pass">
						{% trans 'Забули пароль?'
					</div> -->
				</form>
		</header>
		<!-- /.kabinet -->
		<form method="POST" action="" class="cmxform" id="modal-change_settings" style="display:none;">
			<div class="change_title">
				Редагувати:
			</div>
			<div class="change__block">
				<div class="usualy_tab__link set-prof button_transparent" data-src='#modal-form_settings'>
					особисті дані
			   </div>
			   <div class="usualy_tab__link set-prof button_transparent" data-src='#modal-form_relog'>
				    пароль
			   </div>
			</div>
		</form>

{% endblock content%}
{% block footer_static%}
		{% include 'includes/footer_static.html' %}
		<script defer src="/static/js/new_profile.js" type="text/javascript"></script>
		
{% endblock footer_static%}
