.client {
	position: relative;
	padding-bottom: 50px;


	.main__title {
		&:before {
		display: block;
		content: "";
		height: 155px;
		margin: -155px 0 0;
		}
	}
}

.client-profile {
	width: 100%;
	
	display: flex;
	align-items: center;


	img {
		-webkit-box-shadow: 0px 0px 34px -12px rgba(176,173,176,1);
		-moz-box-shadow: 0px 0px 34px -12px rgba(176,173,176,1);
		box-shadow: 0px 0px 34px -12px rgba(176,173,176,1);
		max-width: 172px;
		    display: block;
		   
		    height: auto;
		    margin: 22px;
	}
}
.client-profile-right {


	img {
		width: 30%;
		    margin-left: 15px;
	}
	flex-direction: row-reverse;

	
		text-align: right;
	
	.line-client {
		position: absolute;
		bottom: 0;
		right: -17px;
		height: 1px;
		width: 80px;
		border-bottom: 1.4px solid #D2A351;
	}
}

.client-profile-left {
	img {
		width: 30%;
		    margin-right: 15px;
	}
	.line-client {
		position: absolute;
		bottom: 0;
		left: -17px;
		height: 1px;
		width: 80px;
		border-bottom: 2px solid #D2A351;
	}
}
.sub-work {
	
}
@media (max-width: 678px) {
	.client-profile {
		margin-top: 40px;
	}
}