// button ==================================================>
    .button {
        &_transparent {
            transition: all .2s;
            border-radius: 20px;
            color: #D2A351;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid #D2A351;
            text-align: center;
            padding: 10px 20px;

            &:hover {
                background: #D2A351;
                color: #fff;
            }
        }
    }

// button ==================================================>
// grid ==================================================>


    // font-weight: 700 ===========================================>
    .main_title {
        font-weight: 700;
        line-height: 1.5;
        &_1 {
            font-size: 35px;
        }
        &_2 {

        }
        &_3 {
            font-size: 20px;
        }
        &_4 {
            font-size: 16px;
        }
    }

    // font-weight: 500 ===========================================>
    .midle_title {
        font-weight: 500;
        line-height: 1.5;
        &_1 {
            font-size: 35px;
        }
        &_2 {

        }
        &_3 {
            font-size: 20px;
        }
        &_4 {
            font-size: 16px;
        }
    }


    // font-weight: 400 ===========================================>
    .standart_title {
        font-weight: 400;
        line-height: 1.5;
        &_1 {
            font-size: 35px;
        }
        &_2 {

        }
        &_3 {
            font-size: 20px;
        }
        &_4 {
            font-size: 16px;
        }
    }



    .color {
        &_black {
            color: #727271;
        }
        &_gold {
            color: #D2A351;
        }
        &_green {
           color: #054C23; 
        }
        &_white {
            color: #fff;
        }
    }

// grid ==================================================>
.doc-profile {
    border: none !important;
}

.user_name {
    margin-top: 10px;
    margin-bottom: 5px;
}
.main_tab__link_active {
    background: #D2A351;
    color: #fff;
}
.auto-tab-link-block {
    padding-right: 60px;
}
.tab-auto-content-block {
    width: calc(100% - 320px);
}
.auto-tab-link-block {
    width: 260px;
}
.modal-change_settings {
    min-width: 500px;
}
.user-data-type, .user-data-name {
    font-weight: 400;
}
.user-data-type {
    width: 50%;
}
.user-data-prof {
    width: 500px;
    max-width: unset;
}
.user-data-name {
    width: 50%;
    margin-left: 0;
}
.change__block {
    display: flex;
    align-items: center;
    justify-content: space-between;


    .button_transparent {
        margin: 20px;
    }
}
.change_title {
    font-weight: 700;
    color: #727271;
    line-height: 1.5;
}
.main_doc_link__block {
    display: flex;
    margin: 45px 0px;
}

.main_doc_link {
    margin-right: 50px;
    cursor: pointer;

    &_active {
        background: #D2A351;
        color: #fff;
    }
}

.main_doc_content {
    transition: .4s;
    position: relative;
    left: -100%;
    opacity: 0;
    visibility: hidden;
    max-height: 1px;
    &_active {
        left: 0;
        opacity: 1;
        visibility: visible;
        max-height: 5000px;
    }
}
.docs__wrap {
    display: flex;
    flex-direction: column;
}
.docs_title {
    margin-bottom: 25px;
}
.doc_content {
    margin-bottom: 10px;
    transition: all .2s;

    &:hover {
        color: #054C23;
    }
}
.doc__title {
    font-weight: 400;
}
#tab_33 {
    max-width: 550px;
}










@media (max-width: 1090px) {
    .tab-auto-content-block {
        width: 100%;
        padding: 0;
    }
    .auto-tab-link-block {
        min-height: unset;
        padding: 0;
    }
}
@media (max-width: 725px) {
    .user-data-prof {
        width: 100%;
        max-width: unset;
    }
}