.profile-header {
	.btn-communicate {
		top: 104%;
		left: 50%;
		transform: translateX(-50%);
		color: #D2A351;
		transition: color .2s;
		&:hover {
			color: #fff;
		}
	}
	.new-wrap-text {
		width: 70%;
	}
	.gold-text {
		max-width: 77%;
		align-items: unset;
		    min-height: unset;
	}
	.punct-text {
		max-width: 98%;
	}
	.btn-read {
		color: #D2A351 !important;
		margin: 0 auto;
		margin-top: 40px;
	}
	.about-main__text {
		padding-top: 150px;

		p {
			max-width: 880px;
		}
	}
	.about-prof-wrap {
		flex-direction: column;
	}
	.about-prof {
		position: relative;
		display: flex;
		width: 97%;
		    margin-bottom: 120px;
	}
	.img-prof {
	    width: 100%;
	}
	.geo-block {
	    
	    max-width: 363px;
	}
}
.img-prof-block {
	width: 30%;
	margin-right: 30px;
}
@media (max-width: 1111px) {
	.punct-text {
		font-size: 10px;
	}
	.geo-text {
	    font-size: 13px;
	}
	.bold-block {
		font-size: 13px;
	}
	.soc-img {
	    display: flex;
	    margin-bottom: 16px;
	}
	.soc-img img {
    margin-left: 8px;
    
	}
	.gold-text {
    color: #D2A351;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
    line-height: 1;
    font-size: 13px;
	}
	.about-prof {
		.green__name {
		 
		}
	}
	.green__name {
	    position: relative;
	   
	    color: #054C23;
	    font-family: 'Roboto Slab', serif;
	    font-weight: 700;
	    line-height: 1;
	    font-size: 21px;
	}
}
@media (max-width: 700px) {
	.map-wrap {
		margin-top: 30px;
	}
	.profile-header {
		padding-bottom: 120px;

	}
	.profile-header .about-prof {
	 width: 100%;
	 flex-direction: column;
	 align-items: center;
	 margin: 0 !important;

	 .green__name {
		 width: 100%;
		 margin: 0 auto;
		 margin-bottom: 15px;
		 margin-top: 20px;
	 }
	 .gold-text {
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
	 }
	 	.geo-block {
			max-width: unset;
			width: 100%;
			margin: 0 auto;
			margin-top: 15px;	
		}
		.punct-text {
			max-width: 100%;
			margin-top: 30px;
		}
	}
	.img-prof-block {
		margin-right: 0;
	}

	.abzac .about__subtitles {
		padding-left: 0 !important;
	}
	
	.img-prof-block {
		width: 60%;
	}
	.profile-header .new-wrap-text {
		width: 100%;
	}

}
@media (max-width: 410px) {
	.profile-header .about-main__text {
	    padding-top: 93px;
	}
}
@media (max-width: 360px) {
	.img-prof-block {
		width: 100%;
	}
	.profile-header {
		.green__name {
			width: 100%;
		}	
		.gold-text {
			width: 100%;
			margin: 0 auto;
			max-width: unset;
		}
		.geo-block {
			width: 100%;
		}
	}
}