<section id="client" class="client">
    <div class="container">

        <div id="main__title-client" class="main__title">
            НАШІ КЛІЄНТИ
        </div>
        <div class="main_subtitle_client">
            Ми щасливі від того, що були та залишаємось корисними для наших клієнтів, 
            щиро радіємо за їх професійний ріст та горді співпрацею з ними!
        </div>
        <div class="client-block">
            {% for client in clients %}
            <div class="client_prof">
                <div class="client_header__wrap">
                    <div class="client_img">
                        <img data-src="{{client.image.url}}" alt="{{client.alt}}">
                    </div>
                    <div class="client_title__block">
                        <div class="client_title">
                            {{client.title}}
                        </div>
                        <a href="galpravgroup.com.ua" class="client_subtitle">
                            {{client.site}}
                         </a>
                    </div>
                </div>
                <div class="client_content">
                    {{client.body}}
                </div>
                {% if client.body2 %}
                <div class="client_btn">
                    Більше
                </div>
                <div class="client_close_btn">
                    Закрити
                </div>
                <div class="client_hidden_content">
                    {{client.body2}}
                </div>
                {% endif %}
            </div>
            {%endfor%}
        </div>
        <div id="test-fix-blog"></div>
    </div>
</section>