<!-- facebook -->
<a href="https://facebook.com/advocategpg/">
    <div class="svg-soc">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1"
            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
            viewBox="0 0 35 35" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer" />
                <path class="fill-header"
                    d="M5 9c0,-1 1,-2 1,-3l0 0c1,0 2,-1 3,-1l17 0c1,0 2,1 3,1 0,1 1,2 1,3l0 17c0,1 -1,2 -1,3 -1,0 -2,1 -3,1l-17 0c-1,0 -2,-1 -3,-1 0,-1 -1,-2 -1,-3l0 -17zm18 10l-2 0 0 9 5 0c1,0 1,0 1,-1 1,0 1,0 1,-1l0 -17c0,-1 0,-1 -1,-1 0,-1 0,-1 -1,-1l-17 0c-1,0 -1,0 -1,1l0 0c-1,0 -1,0 -1,1l0 17c0,1 0,1 1,1 0,1 0,1 1,1l8 0 0 -9 -1 0 0 -1 1 -1 0 -1c0,-1 1,-2 1,-3 1,0 2,-1 4,-1 1,0 2,0 2,1l0 2c-1,0 -2,0 -2,0 -1,0 -1,0 -1,0 0,0 0,1 0,1l0 1 2 0 0 2z" />
            </g>
        </svg>
    </div>
</a>